<section class="section swatch-white section-text-shadow section-innder-shadow element-short-top element-short-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<header>
					<h1 class="hairline bordered-normal">Contributor CMS</h1>
					<small>[[message]]</small>
				</header>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid element-short-top">
		<div class="panel swatch-white">
			<div class="panel-body">
				<span ng-if="status=='loading'"><i class="fa fa-refresh fa-spin"></i> Loading...</span>
				<ul ng-if="groups" ng-cloak>
					<li ng-repeat="group in groups | orderBy:group"><a href="#/groups/[[group]]">[[group]]</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>