<!-- Section 4: Select which concept property to capture in the
     input field -->
<div class="row" ng-if="concept != null">
  <div class="col-md-12">
    <div id="concept">
     
    <h3>4. Select which concept property to capture in the input field</h3>

    <div id="conceptInfo">
        <ul style="list-style-type: none;">
            <li ng-repeat="c in concept">
                <input type="radio" id="{{c.key}}" ng-checked="target_field == c.key" name="{{c.key}}" value="{{c.key}}"
                       ng-click="switchField(c.key,c.value)" />
                <label style="margin-left: 6px;"
                for="{{c.key}}">{{c.description}} ({{c.value}})</label>
            </li>
        </ul>
    </div>
</div>

        </div>
  </div>

  <!-- Section 5: Implement the widget in your HTML page or
  application -->
  <div class="row" ng-if="concept != null">
    <div class="col-md-12">
      <h3>5. Implement the widget in your HTML page or application</h3>

      <div class="swatch-white">
        <p>The instructions below provide a very basic example of
          implementing the Vocabulary Widget in a webpage. For more technical
          implementation details and configuration options, please
          visit <a href="http://developers.ands.org.au/widgets/vocab_widget/"
          target="_blank">the
            Vocabulary Widget page on Developers.ANDS</a>.</p>

        <div class="alert alert-warning" >
          <i class="fa fa-info-circle"></i> &nbsp;While optional, ANDS
          recommends that you register for a free API key to be used
          with this widget. Registering will allow us to keep you
          informed of changes and planned outages to our services, as
          well as monitor the system for quality purposes.
          You can request an API
          key <a href="https://researchdata.ands.org.au/registry/services/register/"
          target="_blank">here</a>. To
          learn how to implement it, please
          visit <a href="http://developers.ands.org.au/widgets/vocab_widget/"
          target="_blank">the
          Vocabulary Widget page on Developers.ANDS</a>.
        </div>

        <p>Start by adding references to jQuery, the Vocabulary Widget
        plugin and the associated Vocabulary Widget CSS styles, by
        copying and pasting the below snippet into your HTML
        document’s &lt;head&gt;&lt;/head&gt; section.</p>

        <div class="swatch-white">
          <div id="widget-script-head">
            <pre class="panel-body prettyprint widget-code" ng-non-bindable>&lt;script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js'&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="//researchdata.ands.org.au/apps/assets/vocab_widget/js/vocab_widget_v2.js"&gt;&lt;/script&gt;
&lt;link rel="stylesheet" type="text/css" href="//researchdata.ands.org.au/apps/assets/vocab_widget/css/vocab_widget.css" /&gt;</pre>
          </div>
        </div>

        <p>Then copy and paste the widget input and initialisation
        code shown below into your HTML document’s
        &lt;body&gt;&lt;/body&gt; section. Note that the code snippet
        below will be customised to reflect the settings you have
        applied in steps 1-4 above.</p>

      </div>

      <div ng-if="vocab" class="swatch-white">
        <div id="widget-script-search" class="toggle" ng-if="mode == 'search'">
          <pre class="panel-body prettyprint widget-code">&lt;input type="text" id="{{$parent.vocab.slug}}" name="{{$parent.vocab.slug}}" value="" size="80" autocomplete="off"&gt;
&lt;script&gt;
$("#{{$parent.vocab.slug}}").vocab_widget({
    mode: 'search',
    cache: false,
    repository: '{{$parent.vocab.sissvoc_end_point}}',
    target_field: '{{$parent.target_field}}',
    endpoint: '{{$parent.endpoint}}'
});
&lt;/script&gt;</pre>
        </div>
        <div id="widget-script-tree" class="toggle" ng-if="mode == 'tree'">
          <pre class="panel-body prettyprint widget-code">&lt;input type="text" id="{{$parent.vocab.slug}}" name="{{$parent.vocab.slug}}" value="" size="80" autocomplete="off"&gt;
&lt;script&gt;
$("#{{$parent.vocab.slug}}").qtip({
    content:{text:'&lt;div class="subject_chooser"&gt;&lt;/div&gt;'},
    prerender:true,
    position:{
        my:'center left',
        at: 'center right',
        viewport:$(window)
    },
    show: {event: 'click',ready:false},
    hide: {event: 'unfocus'},
    events: {
        render: function(event, api) {
            var widget = $(".subject_chooser", this).vocab_widget({mode:'{{$parent.mode}}',
                repository:'{{$parent.vocab.sissvoc_end_point}}',
                endpoint:'{{$parent.endpoint}}' ,
                display_count:false});
            widget.on('treeselect.vocab.ands', function(event) {
                var target = $(event.target);
                var data = target.data('vocab');
                $("#{{$parent.vocab.slug}}").val(data.{{$parent.target_field}});
            });
            api.elements.content.find('.hasTooltip').qtip('repopsition');
            api.elements.content.find('.hasTooltip').qtip('update');
        }
    },
    style: {classes: 'qtip-bootstrap ui-tooltip-shadow ui-tooltip-bootstrap ui-tooltip-large'}
});
&lt;/script&gt;</pre>
        </div>
      </div>
    </div>
  </div>
