<div id="concept">
    <h4 ng-if="concept">Available Concept Attributes:</h4>

    <div id="conceptInfo">
        <ul style="list-style-type: none;">
            <li ng-repeat="c in concept">
                <input type="radio" id="{{c.key}}" ng-checked="target_field == c.key" name="{{c.key}}" value="{{c.key}}"
                       ng-click="switchField(c.key,c.value)" />
                <label style="margin-left: 6px;"
                for="{{c.key}}">{{c.description}} ({{c.value}})</label>
            </li>
        </ul>
    </div>
</div>
