<div id="concept"><h4 ng-if="concept">Select Concept Attribute:</h4>
    <div id="conceptInfo">
        <ul style="list-style-type: none;">
            <li ng-repeat="(key, value) in concept" ng-if="key == 'label' || key == 'notation' || key == 'about'" >
                <input type="radio" id="{{key}}" checked name="{{key}}" value="{{key}}" ng-click="switchField(key,value)" ng-if="target_field == key"/>
                <input type="radio" id="{{key}}" name="{{key}}" value="{{key}}" ng-click="switchField(key,value)" ng-if="target_field != key"/>
                <label style="margin-left: 6px;" for="{{key}}">{{key}} ({{value}})</label>
            </li>
        </ul>
    </div>
</div>
