<div style="modal-center">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title"><span ng-if="entity.title">Edit</span> <span ng-if="!entity.title">Add a </span> related [[ type ]]</h4>
	</div>
	<div class="modal-body swatch-white" ng-cloak>
		<form action="" class="form" name="reForm">
			<div class="container-fluid">
                <input name="type" value="[[ type ]]" type="hidden"/>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-class="{'has-error':reForm.title.$invalid}">
							<label for="">Title</label>
							<input type="text" required name="title"class="form-control" placeholder="entity Title" ng-model="entity.title" typeahead="suggest.title as suggest.title for suggest in suggestions | filter:$viewValue | limitTo:8" typeahead-min-length="0" typeahead-on-select="populate($item, $model, $label)">
							<p class="help-block" ng-show="reForm.title.$invalid">Title is required</p>
						</div>
					</div>
					<div class="col-md-6">
                        <input type="hidden" value="publishedBy" name="relationship" ng-if="type=='publisher'"/>
                        <div class="form-group">
							<label for="">Email</label>
							<input type="text" name="email" class="form-control" placeholder="entity Email" ng-model="entity.email">	
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Phone</label>
							<input type="text" class="form-control" placeholder="entity Phone" ng-model="entity.phone">	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-if="type!='publisher'">
							<label for="">Relation</label>
							<div class="input-group" ng-repeat="relationship in entity.relationship track by $index">
								<span class="input form-control uneditable-input" placeholder="Identifier">[[ relationship | languageFilter:relatedEntityRelations]]</span>
								<span class="input-group-btn" >
									<button class="btn btn-primary" type="button" ng-click="list_remove('relationship', $index)"><i class="fa fa-remove"></i></button>
								</span>
							</div>
							<p></p>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Relationship" ng-model="newrel" typeahead="rel.value as rel.text for rel in relatedEntityRelations | limitTo:8">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" ng-click="list_add('relationship', newrel)"><i class="fa fa-plus"></i> Add Relationship</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="">Identifiers</label>
							<div class="input-group" ng-repeat="ident in entity.identifiers track by $index">
								<input type="text" class="form-control" placeholder="Identifier" ng-model="ident.url">
								<span class="input-group-btn" >
									<button class="btn btn-primary" type="button" ng-click="list_remove('identifiers', $index)"><i class="fa fa-remove"></i></button>
								</span>
							</div>
							<p></p>
							<button class="btn btn-primary" type="button" ng-click="list_add('identifiers')"><i class="fa fa-plus"></i> Add Identifier</button>
						</div>
						<div class="form-group">
							<label for="">URLs</label>
							<div class="input-group" ng-repeat="url in entity.urls track by $index">
								<input type="text" class="form-control" placeholder="URL" ng-model="url.url">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" ng-click="list_remove('urls', $index)"><i class="fa fa-remove"></i></button>
								</span>
							</div>
							<p></p>
							<button class="btn btn-primary" type="button" ng-click="list_add('urls')"><i class="fa fa-plus"></i> Add URL</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer swatch-white">
		<div class="alert alert-danger" ng-if="error_message">[[error_message]]</div>
		<button class="btn btn-link" type="button" ng-click="dismiss()">Cancel</button>
		<button class="btn btn-primary" type="button" ng-if="intent=='add'" ng-click="save()">Add this Related [[ type ]]</button>
		<button class="btn btn-primary" type="button" ng-if="intent=='save'" ng-click="save()">Save</button>
	</div>
</div>