<!-- Subject source dropdown -->
<td style="border:none;width:35%">
  <select
     id="[['subject_source_'+index]]"
     class="form-control caret-for-select subject-type"
     placeholder="Subject Source"
     ng-options="ss as ss.label for ss in subject_sources track by ss.id"
     ng-model="selected"
     ng-change="setVocab()"
     >
    <option value="">Select a source</option>
  </select>
</td>

<!-- Subject label -->
<td style="border:none;width:100%">
  <!-- Mode: freetext.
       Text input field for subject label.
       Can't use ng-if here, but need to use ng-show, because
       of the model binding.  -->
  <input
     id="[['subject_label_freetext_'+index]]"
     type="text" class="form-control subject-value"
     placeholder="Type in Subject Label"
     ng-show="selected.mode == 'freetext'"
     ng-model="subjectLabel"/>

  <!-- Mode: all modes other than freetext.
       Subject label display -->
  <div id="[['subject_label_'+index]]"
       ng-if="selected.mode != 'freetext' && subjectLabel != ''"
       ng-bind-html="subjectLabel"
       class="form-control-static pull-left"
       style="width:85%"></div>

  <!-- Mode: tree or search.
       Button to bring up vocab widget. -->
  <span
     ng-show="selected.mode == 'tree' || selected.mode == 'search'"
     class="pull-right"
     ng-attr-style="[[subjectLabel == '' ? 'width:100%' : undefined]]">
    <button
       id="[['subject_label_select_'+index]]"
       class="btn btn-primary subject-label"
       type="button"
       ng-attr-style="[[subjectLabel == '' ? 'width:100%' : undefined]]">
      <span
         ng-show="selected.mode == 'tree' && subjectLabel == ''"
         class="pull-left">Browse for Subject Label</span>
      <span
         ng-show="selected.mode == 'search' && subjectLabel == ''"
         class="pull-left">Search for Subject Label</span>
      <span
         ng-show="selected.mode == 'tree'"
         class="pull-right">
        <i class="fa fa-sitemap fa-rotate-270"></i>
      </span>
      <span
         ng-show="selected.mode == 'search'"
         class="pull-right">
        <i class="fa fa-search"></i>
      </span>

    </button>
  </span>

</td>

<!-- Delete button ("X"), shown iff more than one subject -->
<td style="border:none">
  <span ng-show="$parent.vocab.subjects.length > 1">
    <button
       id="[['subject_close_'+index]]"
       class="btn btn-primary"
       type="button"
       ng-click="close()"
       ><i class="fa fa-remove"></i></button>
  </span>
</td>
