<div style="modal-center">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <h4 class="modal-title"><span ng-if="version.title">Edit</span> <span ng-if="!version.title">Add a new</span>
            version</h4>
    </div>
    <div class="modal-body swatch-white" ng-cloak>

        <div class="container-fluid">

            <form class="form" name="form.versionForm" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error' : form.versionForm.status.$invalid }">
                            <label for="">Status </label>
                            <select required name="status" id="" class="form-control caret-for-select"
                                    ng-options="status for status in versionStatuses"
                                    ng-model="version.status"></select>

                            <p ng-show="form.versionForm.status.$invalid" class="help-block">Version status is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.versionForm.title.$invalid }">
                            <label for="">Title</label>
                            <input required type="text" name="title" class="form-control" placeholder="Title"
                                   ng-model="version.title">

                            <p ng-show="form.versionForm.title.$invalid" class="help-block">Title is required.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error' : form.versionForm.release_date.$invalid }">
                            <label for="">Release Date</label>

                            <p class="input-group">
                                <input required type="text" name="release_date" class="form-control"
                                       ng-model="version.release_date" placeholder="Release Date"
                                       datepicker-popup="dd-MM-yyyy" is-open="opened">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
									</span>
                            </p>
                            <p ng-show="form.versionForm.release_date.$invalid" class="help-block">Release Date is
                                required.</p>
                        </div>
                        <div class="form-group">
                            <label for="">Notes</label>
                            <textarea ng-model="version.note" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </form>

            <a href="" class="btn btn-primary btn-block" ng-click="importPP()"
               ng-if="version.provider_type!='poolparty' && vocab.pool_party_id">Import Version from PoolParty</a>
            <a href="" class="btn btn-default btn-block" ng-click="version.provider_type='manual'"
               ng-show="version.provider_type!='manual'">Input Access Points Manually</a>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <label ng-if="version.access_points">Access Points:</label>
                    <table class="table" ng-if="version.access_points">
                        <thead>
                        <th>Type</th>
                        <th>Format</th>
                        <th>URI</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ap in version.access_points track by $index">
                            <td>[[ ap.type ]]</td>
                            <td>[[ ap.format ]]</td>
                            <td>
                                <a href="[[ ap.uri ]]" title="[[ ap.uri ]]" ng-if="ap.uri!='TBD'">URI</a>
                                <span ng-if="ap.uri=='TBD'">[[ ap.uri ]]</span>
                            </td>
                            <td><a href="" ng-click="list_remove('access_points', $index)"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="version.provider_type=='manual'">
                        <form class="form" name="form.apForm" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : form.apForm.type.$invalid }">
                                <label for="">Access Point Type</label>
                                <select class="form-control caret-for-select" required name="type"
                                        ng-options="type.value as type.text for type in types"
                                        ng-model="newValue.ap.type"></select>
                                <p ng-show="form.apForm.type.$invalid" class="help-block">Type is required.</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : form.apForm.format.$invalid }">
                                <label for="">Access Point Format</label>
                                <div style="position:relative">
                                    <select class="form-control caret-for-select" required name="format"
                                            ng-options="format as format for format in formats"
                                            ng-model="newValue.ap.format"></select>
                                </div>
                                <p ng-show="form.apForm.format.$invalid" class="help-block">Format is required.</p>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input id="importChkbx" ng-click="setImPubcheckboxes('import')" ng-disabled="!validFormat()" type="checkbox" ng-model="newValue.ap.import"><label ng-disabled="!validFormat()" for="importChkbx"> Import vocabulary into the
                                    ANDS Vocabulary Repository
                                </label>
                                </label>
                                <a class="btn-discard" href="" tip="To enable Import and Publish options, please select Access Point Type <b>File</b> and use one of the following Access Point Formats: <b>TTL</b>, <b>TriG</b>, <b>TriX</b>, <b>N3</b> or <b>RDF/XML</b>."><i class="fa fa-info"></i></a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="publishChkbx" ng-click="setImPubcheckboxes('publish')" ng-disabled="!validFormat()" type="checkbox" ng-model="newValue.ap.publish"><label ng-disabled="!validFormat()" for="publishChkbx"> Publish vocabulary via the
                                    ANDS Linked Data API
                                </label>
                                </label>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : form.apForm.uri.$invalid }">
                                <label id="ap_uri_label" for="">Access Point URI</label>

                                <p class="input-group" id="ap_uri">
                                    <input type="text" required name="uri" class="form-control" placeholder="URI"
                                       ng-model="newValue.ap.uri">
                                </p>
                                <p class="input-group" id="ap_upload">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-file-select
                                                ng-file-change="upload($files, newValue.ap)"><i
                                                class="fa fa-upload"></i> Upload File
                                        </button>
                                    </span>
                                </p>
                                <div class="alert alert-important" ng-if="error_upload_msg">[[ error_upload_msg ]]</div>
                                <progressbar
                                    ng-if="newValue.ap.type=='file' && uploadPercentage != 0"
                                    animate="true"
                                    value="uploadPercentage"
                                    type="success">
                                    <b>[[uploadPercentage]]%</b>
                                </progressbar>

                                <p ng-show="form.apForm.uri.$invalid" class="help-block">URI is required.</p>
                            </div>
                            <div class="alert alert-danger" ng-show="ap_error_message">[[ap_error_message]]</div>
                            <button type="button" ng-disabled="!validateAP()" class="btn btn-primary" ng-click="addformatform(newValue.ap)"><i
                                    class="fa fa-plus"></i> Add Access Point
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer swatch-white">
        <div class="alert alert-danger" ng-show="error_message">[[error_message]]</div>
        <button class="btn btn-link" type="button" ng-click="dismiss()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-if="action=='add'" ng-click="save()">Add this Version</button>
        <button class="btn btn-primary" type="button" ng-if="action=='save'" ng-click="save()">Save</button>
    </div>
</div>