<div class="panel swatch-white" ng-if="tree">
    <div class="panel-heading clearfix">
        Browse
        <div class="pull-right">
            <input type="text" ng-model="query" placeholder='Search' class="form-control">
        </div>
    </div>
    <div class="panel-body element-no-top maxheight500">
        <ul ng-class="treeclass">
            <li ng-repeat="concept in tree | filter:query">
                <a ng-if="concept.num_child > 0" href="" concept-tip="[[concept.tip]]"
                   ng-click="concept.showchild=!concept.showchild">
                    [[concept.value]] ([[concept.num_child]])</a>
                <a ng-if="concept.num_child == 0" href="" concept-tip="[[concept.tip]]"
                   ng-click="concept.showchild=!concept.showchild">
                    [[concept.value]]</a>
                <ul ng-if="concept.showchild">
                    <li ng-repeat="child in concept.child | filter:query">
                        <a ng-if="child.num_child > 0" href="" concept-tip="[[child.tip]]"
                           ng-click="child.showchild=!child.showchild">
                            [[child.value]] ([[child.num_child]])</a>
                        <a ng-if="child.num_child == 0" href="" concept-tip="[[child.tip]]"
                           ng-click="child.showchild=!child.showchild">
                            [[child.value]]</a>
                        <ul ng-if="child.showchild">
                            <li ng-repeat="child2 in child.child | filter:query">
                                <a ng-if="child2.num_child > 0" href="" concept-tip="[[child2.tip]]"
                                   ng-click="child2.showchild=!child2.showchild">
                                    [[child2.value]] ([[child2.num_child]])</a>
                                <a ng-if="child2.num_child == 0" href="" concept-tip="[[child2.tip]]"
                                   ng-click="child2.showchild=!child2.showchild">
                                    [[child2.value]]</a>
                                <ul ng-if="child2.showchild">
                                    <li ng-repeat="child3 in child2.child | filter:query">
                                        <a ng-if="child3.num_child > 0" href="" concept-tip="[[child3.tip]]"
                                           ng-click="child3.showchild=!child3.showchild">
                                            [[child3.value]] ([[child3.num_child]])</a>
                                        <a ng-if="child3.num_child == 0" href="" concept-tip="[[child3.tip]]"
                                           ng-click="child3.showchild=!child3.showchild">
                                            [[child3.value]]</a>
                                        <ul ng-if="child3.showchild">
                                            <li ng-repeat="child4 in child3.child | filter:query">
                                                <a ng-if="child4.num_child > 0" href="" concept-tip="[[child4.tip]]"
                                                   ng-click="child4.showchild=!child4.showchild">
                                                    [[child4.value]] ([[child4.num_child]])</a>
                                                <a ng-if="child4.num_child == 0" href="" concept-tip="[[child4.tip]]"
                                                   ng-click="child4.showchild=!child4.showchild">
                                                    [[child4.value]]</a>
                                                <ul ng-if="child4.showchild">
                                                    <li ng-repeat="child5 in child4.child | filter:query">
                                                        <a ng-if="child5.num_child > 0" href="" concept-tip="[[child5.tip]]">
                                                            [[child5.value]] ([[child5.num_child]])</span>
                                                        </a>
                                                        <a ng-if="child5.num_child == 0" href="" concept-tip="[[child5.tip]]">
                                                            [[child5.value]]</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>