<div class="widgetExplorer container-fluid" ng-if="vocabList">

    <ul class="vocabListing col-md-4">
        <li
            ng-repeat="vocab in vocabList"
            ng-click="selectVocab(vocab)"
            ng-class="{'selected': vocab.id == selectedVocab.id}"
        >
            <div >
                <h4><a href="">[[ vocab.title ]]</a></h4>
                <small>[[ vocab.owner ]]</small>
                <p>[[ vocab.description ]]</p>
            </div>
        </li>
    </ul>

    <div class="vocabDisplay col-md-8">
        <widget-display-directive vocab="selectedVocab"></widget-display-directive>
    </div>

    <div class="vocabDownload"></div>

</div>
