<div class="widgetExplorer container" ng-if="vocabList">

  <!-- Section 1: Select a widgetable vocabulary -->

  <div class="row">
    <div class="col-md-12">
      <h3>1. Select a widgetable vocabulary</h3>

      <ui-select append-to-body="true" ng-model="selectedVocab" on-select="selectVocab($select.selected)">
        <ui-select-match placeholder="Select a vocabulary">{{$select.selected.title}}</ui-select-match>
        <ui-select-choices
           repeat="vocab in vocabList | filter: $select.search "> <!--  | filter: {title: $select.search} -->
          <!-- NB: fields vocab.xyz need to have been returned by Solr
          search. -->
          <div>
            [[ vocab.title ]]
            <br />
            <!-- small>[[ vocab.owner ]]</small>-->
            <!-- br /> -->
            [[ vocab.description ]]
          </div>
        </ui-select-choices>
      </ui-select>

    </div>
  </div>


  <!-- Sections 2-5 -->

  <div class="vocabDisplay">
    <widget-display-directive vocab="selectedVocab"></widget-display-directive>
  </div>

  <!-- For future thought: provide some sort of download
       facility to get what you see.
       <div class="vocabDownload"></div>
  -->

</div>
