<div class="panel" ng-show="vocab"> <!--ng-if="vocab" ??-->

  <div class="row">
    <div class="col-md-12">
      <h3><a href="{{ base_url }}{{ vocab.slug }}" target="_blank">{{ vocab.title }}</a></h3>
      <!-- small>{{ vocab.owner }}</small> -->
      <p>{{ vocab.description }}</p>
      <a href="{{ base_url }}{{ vocab.slug }}" target="_blank">View Vocabulary</a>
    </div>
  </div>

  <!-- Section 2: Select a widget mode -->

  <div class="row">
    <div class="col-md-12">

      <h3>2. Select a widget mode</h3>

      <ul style="list-style-type: none;">
        <li ng-repeat="widgetMode in widgetModes">
          <input type="radio" id="{{widgetMode.name}}" name="{{widgetMode.name}}" value="{{widgetMode.name}}"
                 ng-click="switchMode(widgetMode.name)" ng-checked="widgetMode.name == mode"/>
          <label style="margin-left: 6px;" for="{{widgetMode.name}}">{{widgetMode.label}}</label>
        </li>
      </ul>
    </div>
  </div>

  <!-- Section 3: Try out the widget -->

  <div class="row">
    <div class="col-md-12">
      <h3>3. Try out the widget</h3>
      <div id="widgetExplorerStep3">
        <span class="label label-warning" ng-if="mode == 'tree'">
          Click on the following input to expand the tree view
        </span>
        <span class="label label-warning" ng-if="mode == 'search'">
          Start typing on the following input element to start searching
        </span>
        <br /><br />
        <input type="text" id="sampleWidgetInput" placeholder="Sample Input Element">
      </div>

      <div class="alert alert-danger" ng-if="error">
        <h4>There's an error loading the vocabulary widget:</h4>
        <p>
          {{ error }}
        </p>
      </div>
    </div>
  </div>

  <!-- Sections 4 and 5 -->
  <concept-display></concept-display>
</div>
