<ul class="activity-list" ng-if="tasks.length > 0">
    <li ng-repeat="task in tasks" ng-class="{'error': task.status=='STOPPED'}">
        <a href="" ng-click="task.show=!task.show" class="expand_log"
           >
            <i class="icon-list-alt"></i> {{task.status}}
            <span class="label" ng-if="task.date_added">{{ task.date_added }}</span>
        </a>
        <div class="log" ng-show="task.show">
            <button
                    class="btn btn-small"
                    ng-disabled="task.running"
                    ng-click="runTask(task)">
                <i class="icon icon-play"></i> Run Task {{ task.id }}
            </button>
            <button
                    class="btn btn-small"
                    ng-disabled="task.running"
                    ng-click="showTask(task)">
                <i class="icon icon-search"></i> Task Detail
            </button>
            <span ng-if="task.running">Loading...</span>
            <hr>
            <strong>Params: </strong>
            <pre>{{ task.params }}</pre>
            <strong ng-if="task.message">Message Log: </strong>
            <pre ng-if="task.message"><span ng-repeat="log in task.message.log track by $index">{{ log }}<br/></span></pre>
        </div>
    </li>
</ul>