ENVIRONMENT="production" #development, testing or production
ENVIRONMENT_NAME=""
ENVIRONMENT_COLOR=""
PROTOCOL="http://"
BASE_URL="localhost"

DB_HOSTNAME="localhost"
DB_USERNAME="webuser"
DB_PASSWORD=""
SOLR_URL="http://localhost:8983/solr/"
ELASTICSEARCH_URL="http://localhost:9200/"
SOCKET_URL="https://localhost:3001/"