<?php
/* Information about the environment the system is installed to */
$ENV['default_base_url'] = "@@base_url"; //(excludes any registry/ or portal/)

$ENV['environment_name'] = ""; // blank will leave the environment default
$ENV['environment_colour'] = "#0088cc"; // optional, only applies when environment_name is set

$ENV['importer_benchmark_enabled'] = true; 

/* ERROR HANDLING */
$ENV['site_admin'] = "Aliza Log";
$ENV['site_admin_email'] = "<admin @ email>";


/* SOLR URL */
$ENV['solr_url'] = "@@solr_url";
$ENV['sissvoc_url'] = "@@sissvoc_url";
$ENV['harvester_base_url'] = "@@harvester_url";

//PIDS
$ENV['pids_server_base_url'] = "@@pids_url";
$ENV['pids_server_app_id'] = "@@pids_app_id";

/* ENABLED MODULES */
$ENV['ENABLED_MODULES'] = array(
	'roles',
	'registry',
	//'toolbox',
	//'statistics',
	//'vocab_service',
	//'mydois',
	//'pids',
	//'abs_sdmx_querytool'
	//'theme_cms'
);

// Set this to enable DOI query tool support
// $ENV['gDOIS_SERVICE_BASE_URI'] = "https://mds.datacite.org/";
// $ENV['gDOIS_DATACENTRE_NAME_PREFIX'] = "";
// $ENV['gDOIS_DATACENTRE_NAME_MIDDLE'] = "";
// $ENV['gDOIS_DATACITE_PASSWORD'] = "";
// $ENV['gDOIS_RESPONSE_SUCCESS'] = "OK";

$ENV['gPIDS_URL_PREFIX'] = "https://demo.ands.org.au/registry/pids/";
$ENV['gPIDS_IDENTIFIER_SUFFIX'] = 'https://researchdata.ands.org.au';

$ENV['vocab_resolving_services'] =  array(
	'anzsrc-seo' => array('resolvingService' => 'http://ands3.anu.edu.au:8080/vocab/api/anzsrc-seo/', 'uriprefix' => 'http://purl.org/au-research/vocabulary/anzsrc-seo/2008/'),
	'anzsrc-for' => array('resolvingService' => 'http://ands3.anu.edu.au:8080/vocab/api/anzsrc-for/', 'uriprefix' => 'http://purl.org/au-research/vocabulary/anzsrc-for/2008/'),
);


// Is this installation configured as a Shib Service Provider 
// Note: enables AAF login (if Shibboleth 2 is properly configured)
$ENV['shibboleth_sp'] = false;

//ORCID config
$ENV['gORCID_SERVICE_BASE_URI'] = 'http://sandbox-1.orcid.org/';
$ENV['gORCID_API_URI'] = 'http://api.sandbox-1.orcid.org/';
$ENV['gORCID_CLIENT_ID'] = '';
$ENV['gORCID_CLIENT_SECRET'] = '';

// Session Timeout (how long before the user is automatically logged out)
$ENV['session_timeout'] = 7200; // 2 hours of inactivity before logout...

 // Will affect the error reporting status
$ENV['deployment_state'] = "<production or development>";

/* Google Analytics account details */
$ENV['rda_urchin_id'] = '';
$ENV['svc_urchin_id'] = '';

/* DATABASE CONFIGURATION */
$eDBCONF = array();
$eDBCONF['default']['hostname'] = 'localhost';
$eDBCONF['default']['username'] = 'webuser';
$eDBCONF['default']['password'] = '';
$eDBCONF['default']['dbdriver'] = 'mysql';

$eDBCONF['registry']['database'] = 'dbs_registry';

$eDBCONF['roles']['database'] = 'dbs_roles';

$eDBCONF['portal']['database'] = 'dbs_portal';

$eDBCONF['vocabs']['database'] = 'dbs_vocabs';

$eDBCONF['statistics']['database'] = 'dbs_statistics';

$eDBCONF['pids']['hostname'] = 'devl.ands.org.au';
$eDBCONF['pids']['username'] = 'pidmaster';
$eDBCONF['pids']['database'] = 'pids';
$eDBCONF['pids']['dbdriver'] = 'postgre';


$eDBCONF['dois']['hostname'] = 'devl.ands.org.au';
$eDBCONF['dois']['password'] = '';
$eDBCONF['dois']['database'] = 'archive_dois';
$eDBCONF['dois']['dbdriver'] = 'postgre';