<?php
/*************************************************************************/
/*
/*     /\   | \ | |  __ \ / ____| |  __ \          (_)   | |
/*    /  \  |  \| | |  | | (___   | |__) |___  __ _ _ ___| |_ _ __ _   _
/*   / /\ \ | . ` | |  | |\___ \  |  _  // _ \/ _` | / __| __| '__| | | |
/*  / ____ \| |\  | |__| |____) | | | \ \  __/ (_| | \__ \ |_| |  | |_| |
/* /_/    \_\_| \_|_____/|_____/  |_|  \_\___|\__, |_|___/\__|_|   \__, |
/*                                             __/ |                __/ |
/*                                            |___/                |___/
/*
/*										    Registry Software Configuration
/*
/* 		Release Version :	15
/*		Contact Person  :	services@ands.org.au
/*		Help/support    :	http://developers.ands.org.au/
/*
/*************************************************************************/

/*************************************************************************/
/* (SECTION 1) REQUIRED CONFIGURATION OPTIONS
/*************************************************************************/

// Details of your database server (note: advanced settings can be modified in Sect 4)
$eDBCONF['default']['hostname'] = 'localhost';  // hostname or IP address
$eDBCONF['default']['username'] = 'webuser';
$eDBCONF['default']['password'] = '';
$eDBCONF['default']['dbdriver'] = 'mysql';


// The Server Base URL is the URL via which users access the software installation
// (for example: http://researchdata.your.org.au/myportal/
$ENV['protocol'] = 'http://';
$ENV['default_base_url'] = "{CONFIGURE ME}";


// The SOLR URL is the URL of the search index core which you have installed
// (for example: http://example.com:8080/solr/registry1/)
$ENV['solr_url'] = "{CONFIGURE ME}";


// The Environment options change the appearance of the software installation
// Leaving these blank will remove the name and colour-bar from all registry pages
$ENV['environment_name'] = "My Registry";
$ENV['environment_colour'] = "#6EBF21";

// registry mode used 'read-only' atm but more mode may follow 
$ENV['registry_mode'] = "read-only";

// Who is the administrator of this domain?  		[OPTIONAL]
// error reports will be emailed to this address
$ENV['site_admin'] = "Registry System Administrator";
$ENV['site_admin_email'] = "admin@example.com"; // Will affect the error reporting status
$ENV['deployment_state'] = "{CONFIGURE ME}";  // either "production" or "development"

/*************************************************************************/
/* (SECTION 2) ENABLED MODULES
/*************************************************************************/
// Use this section to enable/disable software modules as you require.

// Note: Most of the non-default modules require additional configuration
//       and installation (such as installing additional database or code
//       packages). Refer to their installation notes for details.

$ENV['ENABLED_MODULES'] = array(

	// Default modules (simply installs the registry, access control and portal)
		'roles',
		'registry',
		'portal',

	// These modules require: ANDS-Registry-Contrib to be installed:
	// 	- 	Vocabulary catalogue module
	// 			'vocab_service',

	//  - 	Identifier service modules
	//			'mydois',
	//			'pids',

	// 	- 	Content Management System modules
	//			'theme_cms',
	//			'bulk_tag',
	//			'cms',

	//	-	Statistics dashboard
	//			'statistics',

	//  -   Twitter announcement app
	//			'twitter',

	// These modules require: ANDS-Developer-Portal to be installed:
	// 	- 	Developer API documentation
	//			'toolbox',

);


/*************************************************************************/
/* (SECTION 3) ADDITIONAL REGISTRY CONFIGURATION
/*************************************************************************/
// Optional parameters to enable/disable advanced registry functionality


// Replace this with the URL of your vocabulary server API (if you have one)
$ENV['sissvoc_url'] = "http://researchdata.ands.org.au:8080/vocab/api/";

// You can also use a vocab service resolve subjects based on their types
$ENV['vocab_resolving_services'] =  array(
	'anzsrc-seo' => array('resolvingService' => 'http://researchdata.ands.org.au:8080/vocab/api/anzsrc-seo/', 'uriprefix' => 'http://purl.org/au-research/vocabulary/anzsrc-seo/2008/'),
	'anzsrc-for' => array('resolvingService' => 'http://researchdata.ands.org.au:8080/vocab/api/anzsrc-for/', 'uriprefix' => 'http://purl.org/au-research/vocabulary/anzsrc-for/2008/'),
);

// Session Timeout (how many seconds before the user gets logged out)
$ENV['session_timeout'] = 7200;

// Is this installation configured as a Shib Service Provider (AAF)
// Note: enables AAF login (if Shibboleth 2 is properly configured)
$ENV['shibboleth_sp'] = false;

// Whether to enable advanced benchmarking in data source logs when a
// registry superuser account performs a harvest on a data source
$ENV['importer_benchmark_enabled'] = false;

// Enable Google Analytics by configuring your urchin id
$ENV['rda_urchin_id'] = ''; // enable analytics on portal pages
$ENV['svc_urchin_id'] = ''; // enable analytics on registry pages


/*********************************************************************/
/* (SECTION 4) OPTIONAL MODULES / EXTRA CONFIGURATION
/* - only if using additional modules
/*********************************************************************/

// => PORTAL STATS
//    - add page and search tracking and autocomplete on portal search
//    - requires dbs_portal database to be setup and configured (see misc/)
$ENV['collect_stats'] = false;
$eDBCONF['portal']['database'] = 'dbs_portal';

/*
// => VOCABULARY CATALOG
//    - used by the vocabulary catalogue application
$eDBCONF['vocabs']['database'] = 'dbs_vocabs';
*/

/*
// => ORCID PULLBACK
//    - ANDS-only;
//    - allows ORCID users to pull back collections into their profile
$ENV['gORCID_SERVICE_BASE_URI'] = 'http://sandbox-1.orcid.org/';
$ENV['gORCID_API_URI'] = 'http://api.sandbox-1.orcid.org/';
$ENV['gORCID_CLIENT_ID'] = '';
$ENV['gORCID_CLIENT_SECRET'] = '';
*/

/*
// => PIDS MANAGEMENT
//    - ANDS-only;
//    - allows users to manage and update their ANDS PIDS (or "Handles")
$ENV['pids_server_base_url'] = "@@pids_url";
$ENV['pids_server_app_id'] = "@@pids_app_id";
$ENV['gPIDS_URL_PREFIX'] = "https://demo.ands.org.au/registry/pids/";
$ENV['gPIDS_IDENTIFIER_SUFFIX'] = 'https://researchdata.ands.org.au';
$eDBCONF['pids']['hostname'] = 'devl.ands.org.au';
$eDBCONF['pids']['username'] = 'pidmaster';
$eDBCONF['pids']['database'] = 'pids';
$eDBCONF['pids']['dbdriver'] = 'postgre';
*/

/*
//=> DOIS MANAGEMENT
//    - ANDS-only;
//    - allows users to manage and update their ANDS DOIS (Cite My Data)
$ENV['gDOIS_SERVICE_BASE_URI'] = "https://mds.datacite.org/";
$ENV['gDOIS_DATACENTRE_NAME_PREFIX'] = "";
$ENV['gDOIS_DATACENTRE_NAME_MIDDLE'] = "";
$ENV['gDOIS_DATACITE_PASSWORD'] = "";
$ENV['gDOIS_RESPONSE_SUCCESS'] = "OK";
$ENV['gDOIS_DATACENTRE_PREFIXS'] = array( '10.4225/','10.4226/','10.4227/','10.5072/');

$ENV['gDOIS_TEST_APP_ID'] = "";  // ANDS test datacenter app_id
$ENV['gDOIS_TEST_SHARED_SECRET'] = "";  // ands test datacentre shared_secret 


$eDBCONF['dois']['database'] = 'dbs_dois';
*/

/*
//=> TWITTER API
//    - enables the /apps/twitter/ module to tweet about updates to the registry
$ENV['twitter_consumer_key'] = '';
$ENV['twitter_consumer_secret'] = '';
$ENV['twitter_oauth_access_token'] = '';
$ENV['twitter_oauth_access_secret'] = '';
*/

//
// DOI LINK CHECKER VARIABLES
$ENV['PYTHON_BIN'] = ""; // will have to point to a python 3.3 or later version
// To use the original DOI link checker:
$ENV['DOI_LINK_CHECKER_SCRIPT'] = "<full_path_to_doi_link_checker.py>";
// To use the new link checker provided in Release 14, create a
// suitable linkchecker.ini (see the link checker README) and use the
// following setting:
// $ENV['DOI_LINK_CHECKER_SCRIPT'] = "<full_path_to_new_linkchecker.py> --html_output -i <full_path_to_linkchecker.ini> -m DOI";

//Tracking for Google Analytics and Lucky Orange
$ENV['tracking'] =
    array(
            'googleGA' => array(
                    'enabled' => false,
                    'keys' => array('id' => '')
            ),
            'luckyOrange' => array(
                    'enabled' => false,
                    'keys' => array('id' => '')
            )
    );

//OAUTH Configuration
$ENV['oauth_config'] =
	array(
		// set on "base_url" the relative url that point to HybridAuth Endpoint
		'base_url' => $ENV['default_base_url'].'auth/oauth',

		"providers" => array (
			// openid providers
			"OpenID" => array (
				"enabled" => true
			),

			"Yahoo" => array (
				"enabled" => true,
				"keys"    => array ( "id" => "", "secret" => "" ),
			),

			"Google" => array (
				"enabled" => true,
				"keys"    => array ( "id" => "", "secret" => "" ),
			),

			"Facebook" => array (
				"enabled" => true,
				"keys"    => array ( "id" => "", "secret" => "" ),
			),

			"Twitter" => array (
				"enabled" => true,
				"keys"    => array ( "key" => "", "secret" => "" )
			),

			"LinkedIn" => array (
				"enabled" => true,
				"keys"    => array ( "key" => "", "secret" => "" )
			),

		)
	);

/*********************************************************************/
/* (SECTION 5) ADVANCED CONFIGURATION
/* - only if using non-standard table names or non-mysql DBMS
/* - other miscelaneous options
/*********************************************************************/

// Name of the database being used for the registry and roles databases
$eDBCONF['registry']['database'] = 'dbs_registry';
$eDBCONF['roles']['database'] = 'dbs_roles';
$eDBCONF['vocabs']['database'] = 'dbs_vocabs';
$eDBCONF['statistics']['database'] = 'dbs_statistics';

// If not using mysql (check CodeIgniter for valid values)
$eDBCONF['default']['dbdriver'] = 'mysql';

// Optional development branch variable, mainly to monitor push state of 
// test systems (if specified, will report git branch in portal header)
// $ENV['gitdir_path'] = "/path/to/.git"; 


//======================================
// GOOGLE ANALYTICS (enable FOR PRODUCTION ONLY)
$enable_google_analytic		= false;
$google_analytic_code		= 'UA-XXXXXXX-X'; //FOR PRODUCTION ONLY
$ENV['google_analytic_code'] = 'UA-XXXXXXX-X';
$ENV['google_key'] = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';
$ENV['ga_email'] = 'google_analytics@email.com';
$ENV['ga_password'] = 'XXXXXXXX';
$ENV['ga_profile_id'] = 'XXXXXXXXXX';