<div class="input-prepend input-append">
    <span class="add-on" ng-if="label">{{ label }}</span>
    <span class="add-on" ng-if="readonly && item._attr[optiontype]['_value']"> {{ item._attr[optiontype]['_value'] }}</span>
    <div class="btn-group" style="display:inline-block;" ng-if="optiontype && !readonly">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            {{ item._attr[optiontype]['_value'] ? item._attr[optiontype]['_value'] : 'Type' }} <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li ng-repeat="j in availableOptions[optiontype]">
                <a href="" ng-click="setOption(item, optiontype, j)">{{ j }}</a>
            </li>
        </ul>
    </div>

    <input type="text" ng-model="item._text" placeholder="{{ label ? label : 'Value' }}" ng-readonly="readonly" style="{{ custom ? custom : 'width:210px' }}">

    <div class="btn-group" style="display:inline-block;" ng-if="attribute">
        <span class="add-on">Date Information</span> <!-- add label for attributes -->
        <input  type="text" ng-model="item._attr[attribute]._value" placeholder="{{ attribute }}" ng-readonly="readonly" style="{{ custom ? custom : 'width:210px' }}">
    </div>

    <div style="display:inline-block;padding-left:3px">
        <a ng-if="list" href="" class="btn btn-warning" ng-click="remove()" ng-show="!readonly"><i class="icon-remove icon-white"></i></a>
    </div>

</div>