.swatch-blue {
  background: #0c415a;
  color: white;
}
.swatch-blue a {
  color: white;
}
.swatch-blue .nav li a {
  color: white;
}
.swatch-blue .nav li a:hover,
.swatch-blue .nav li a:focus {
  background: #0c415a;
}
.swatch-blue .dropdown-menu li a {
  color: grey;
}
.swatch-blue .dropdown-menu li a:hover {
  color: white;
  background: #0c415a;
}
.swatch-blue .box-square {
  background: #487577;
  border: 1px solid #487577;
}
.swatch-white .box-square,
.swatch-white .box-inner {
  background: #487577;
  border: 1px solid #487577;
  color: white;
}
.swatch-white .box-square i,
.swatch-white .box-inner i {
  color: white;
}
.caret-for-input-suggestion {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 9px;
}
.caret-for-select {
  z-index: 100;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
.input-suggestion {
  text-indent: 14px !important;
}
.swatch-gray .panel-footer,
[class*="swatch-"] .swatch-gray .panel-footer {
  background: #e9e9e9;
  border-color: #e9e9e9;
}
.swatch-gray .btn-default i,
.swatch-white .btn-default i {
  color: white !important;
}
.search-bar {
  padding: 10px 0 10px 10px;
}
/* Search Bar. Copied from
   applications/portal/templates/omega/assets/less/page-search.less
   But most of it commented out.
   Uncomment more as needed.
   @lightGray: #f5f5f5;
*/
.search-section {
  /*
        color:white;
        i {
                color: white !important;
        }
        .btn {
                background:@lightGray;
                color:black;
                i {color:black !important;}
                &:hover{
                        background:@lightGray;
                        color:black !important;
                }
        }
        */
  /*
        h1 {
                color:white;
        }
        h1.bordered:after {
                background-color:white;
        }
        */
}
.search-section a {
  color: white;
}
.search-section a:hover {
  color: #e9e9e9;
}
.vocab-search-result {
  background: white;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  position: relative;
}
.vocab-search-result h3 {
  margin: 7px 0px;
}
.vocab-search-result a {
  color: #0c415a;
}
.current-version-ap-block {
  width: 25%;
  float: left;
  margin: 0 15px 0 0;
}
ul.vocab-prev-version-list {
  margin: 5px 0;
  padding: 5px 0;
}
ul.vocab-prev-version-list li {
  padding: 15px 0;
  line-height: 30px;
  list-style-type: none;
}
ul.vocab-prev-version-list li:not(:first-child) {
  border-top: 1px solid #ccc;
}
ul.vocab-prev-version-list ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
}
ul.vocab-prev-version-list ul li {
  padding: 0;
  display: inline-block;
  list-style-type: none;
  border: none;
}
.version-licence {
  float: right;
}
.navbar {
  margin-bottom: 0px;
}
.swatch-dark-blue {
  background: #46494c;
  color: white;
}
.swatch-dark-blue .btn-primary {
  background-color: #f58f29;
}
ul.listy {
  padding-left: 0;
}
ul.listy li {
  list-style-type: none;
  padding: 8px 5px;
  border-bottom: 1px solid #ececec;
}
ul.listy li:last-child {
  border: none;
}
ul.listy li a {
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  display: inline;
  padding: 8px 0px 8px 5px;
}
ul.listy li a small {
  position: absolute;
  right: 30px;
  background: white;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
}
.element-shorter-top {
  margin-top: 10px !important;
}
.element-shorter-bottom {
  margin-bottom: 10px !important;
}
.element-shortest-top {
  margin-top: 5px !important;
}
.element-shortest-bottom {
  margin-bottom: 5px !important;
}
.maxheight500 {
  max-height: 500px;
  overflow: auto;
}
.profile_image_large {
  max-width: 70%;
}
.profile_image_small {
  width: 30px;
}
.img-cc {
  height: 22px;
}
.img-cc-standard3 {
  width: auto;
  height: 48px;
}
.alert-info {
  color: white;
}
.swatch-white a,
[class*="swatch-"] .swatch-white a {
  color: #0c415a;
}
.swatch-white a.btn-danger {
  color: white;
}
.swatch-white a.btn-default {
  color: white;
}
.alert-success a {
  color: white;
}
.feedback_button {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px 0px 0px;
  position: fixed;
  display: block;
  white-space: nowrap;
  text-decoration: none !important;
  font-family: arial, FreeSans, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 14px;
  z-index: 99;
  bottom: 0;
  right: 10px;
}
.yellow_button {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #f58000;
  border: none;
  padding: 5px 10px;
  margin: 10px 0;
  width: 105px;
  text-decoration: none;
}
.help_button {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px 0px 0px;
  position: fixed;
  display: block;
  white-space: nowrap;
  text-decoration: none !important;
  font-family: arial, FreeSans, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 14px;
  z-index: 99;
  bottom: 0;
  right: 126px;
  width: 69px !important;
}
.yellow_button:hover {
  background: #F58072;
  color: #fff;
}
span.current {
  display: block;
  background-color: #6aa84f;
  color: white;
  overflow: auto;
  position: relative;
  top: -4px;
}
.yellow_exclamation {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px 0px 0px;
  text-decoration: none !important;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  background: #f58000;
  height: 12px;
  border: none;
  margin-top: 10px;
  padding: 0px 5px 0px 5px;
}
span.superseded {
  display: block;
  background-color: #f1c232;
  color: white;
  overflow: auto;
  position: relative;
  top: -4px;
}
span.deprecated {
  display: block;
  background-color: #cc0000;
  color: white;
  overflow: auto;
  position: relative;
  top: -4px;
}
small.current {
  background-color: #6aa84f;
  border-radius: 6px;
  color: white !important;
  width: 14em;
  padding-left: 5px;
  padding-right: 5px;
}
small.superseded {
  background-color: #f1c232;
  border-radius: 6px;
  font-color: white !important;
  padding-left: 5px;
  padding-right: 5px;
}
small.deprecated {
  background-color: #cc0000;
  border-radius: 6px;
  color: white !important;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-discard {
  float: right;
  background-color: #F58000 !important;
  padding-left: 5px;
  padding-right: 5px;
}
input:disabled + label {
  color: #cccccc;
  cursor: not-allowed !important;
}
.btn-widget-link {
  background-color: #aaaaaa;
  border-radius: 6px;
  display: block;
  color: black;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}
.widget-icon {
  padding-right: 5px;
}
.dev-link {
  padding-right: 15px;
}
#widget-toggle {
  margin-left: 15px;
  margin-bottom: 2px;
}
/* Allow Confluence help tooltips to be much wider than usual. */
.cms-help-tip {
  max-width: 460px;
}
/* Ditto for CMS subject vocab widget search mode tooltips. */
.cms-search-widget-tip {
  width: 600px;
  max-width: 600px;
}
/* Show a thin border around the CMS subject vocab widget
   search mode input field. */
.cms-search-widget-tip input {
  border: 1px solid #cccccc;
}
/* Use this, in combination with .btn-primary, to
   get the correct warning color. This is needed because
   swatch-gray tends to override everything with its blue. */
.btn-primary-warning {
  background-color: #f18d38 !important;
}
.concept-tip {
  font-size: 16px;
  max-width: 520px;
  line-height: 2em;
  word-wrap: break-word;
  color: #808080;
}
ul.pagi {
  margin: 0 auto;
  padding: 0;
}
ul.pagi li {
  list-style-type: none;
  display: inline;
  margin: 0px 5px;
}
ul.pagi li a.active {
  color: #46494c !important;
}
.published_title {
  word-wrap: break-word;
  max-width: 510px;
}
.draft_title {
  word-wrap: break-word;
  max-width: 580px;
}
.break {
  word-wrap: break-word;
}
#banner-image {
  background-image: url(../images/vocabbanner.jpg);
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}
.classic-tree ul {
  margin-left: 20px;
}
.classic-tree li {
  list-style-type: none;
  margin: 10px;
  position: relative;
}
.classic-tree li::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -20px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 0 0px;
  width: 20px;
  height: 15px;
}
.classic-tree li::after {
  position: absolute;
  content: "";
  top: 8px;
  left: -20px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 0px 0 0 0;
  width: 20px;
  height: 100%;
}
.classic-tree li:last-child::after {
  display: none;
}
.classic-tree li:last-child:before {
  border-radius: 0 0 0 5px;
}
ul.classic-tree > li:first-child::before {
  display: none;
}
ul.classic-tree > li:first-child::after {
  border-radius: 5px 0 0 0;
}
.classic-tree li a {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 2px 5px;
}
.classic-tree li a:hover,
.classic-tree li a:hover + ul li a,
.classic-tree li a:focus,
.classic-tree li a:focus + ul li a {
  background: #ccc;
  color: #000;
  border: 1px solid #000;
}
.classic-tree li a:hover + ul li::after,
.classic-tree li a:focus + ul li::after,
.classic-tree li a:hover + ul li::before,
.classic-tree li a:focus + ul li::before .classic-tree li a:hover + ul::before,
.classic-tree li a:focus + ul::before .classic-tree li a:hover + ul ul::before,
.classic-tree li a:focus + ul ul::before {
  border-color: #000;
  /*connector color on hover*/
}
/*Now the CSS*/
.family-tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.family-tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.family-tree li::before,
.family-tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.family-tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
/*We need to remove left-right connectors from elements without 
any siblings*/
.family-tree li:only-child::after,
.family-tree li:only-child::before {
  display: none;
}
/*Remove space from the top of single children*/
.family-tree li:only-child {
  padding-top: 0;
}
/*Remove left connector from first child and 
right connector from last child*/
.family-tree li:first-child::before,
.family-tree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.family-tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.family-tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.family-tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
.family-tree li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.family-tree li a:hover,
.family-tree li a:hover + ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.family-tree li a:hover + ul li::after,
.family-tree li a:hover + ul li::before,
.family-tree li a:hover + ul::before,
.family-tree li a:hover + ul ul::before {
  border-color: #94a0b4;
}
/*Thats all. I hope you enjoyed it.
Thanks :)*/
.box {
  border: 1px solid #bbb;
  background: #e9e9e9;
}
.box .box-title {
  clear: both;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100%;
  background: #d0d0d0;
}
.box .box-title h4 {
  font-size: 14px;
  display: inline-block;
  max-width: 158px;
  margin: 15px 0px 15px 15px;
}
.box .box-title span.box-tag {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
  margin: 15px 10px 10px 0px;
  padding: 3px 5px;
  font-size: 12px;
}
.box .box-title .box-tag-green {
  background: #6aa84f;
  color: white;
}
.box .box-title .box-tag-deprecated {
  background: #cc0000;
  color: white;
}
.box .box-title .box-tag-superseded {
  background: #f1c232;
  color: white;
}
.box .box-title-collapsible {
  cursor: pointer;
}
.box .box-title-collapsible:hover {
  background: #e9e9e9;
}
.box .box-content {
  padding: 10px;
}
.widgetExplorer ul.vocabListing {
  overflow: auto;
}
.widgetExplorer ul.vocabListing li {
  list-style-type: none;
  cursor: pointer;
  word-wrap: break-word;
}
.widgetExplorer ul.vocabListing li:hover,
.widgetExplorer ul.vocabListing li.selected {
  background: #e9e9e9;
}
.widgetExplorer #sampleWidgetInput {
  border: 1px solid #e9e9e9;
  padding: 10px;
  width: 50%;
}
.widgetExplorer .widget-code {
  overflow: auto;
  word-wrap: inherit;
}
#widgetExplorerStep3 .label {
  font-size: 100%;
  font-weight: 400;
  color: #65625d;
}
