/**
 * COMMON
 */

@project: #cbb77a;
@grant: #ddcab9;

.navbar-brand {
	span {
		color: #eb7700;
		font-weight:normal;
		text-decoration:none;
		font-size:22px;
	}
}

ul.listy {
	padding-left:0;
	li {
		list-style-type:none;
		padding:8px 5px;
		border-bottom:1px solid #ececec;
		&:last-child {
			border:none;
		}
		a {
			display:inline;
			padding:8px 5px;
			small {float:right;}
		}
	}
}

.element-shorter-top {
	margin-top:10px !important;
}
.element-shorter-bottom {
	margin-bottom:10px !important;
}

.view-content {
	.panel {
		margin-bottom: 15px !important;
	}
}

.navbar-brand {
	padding: 33px 15px 0px;
	height:auto;
}

.mce-panel {
	button {
		background-color:inherit !important;
	}
	i {
		color: black !important;
		font-size:inherit !important;
		display:inline-block;
		position:relative;
		left:0;top:0;
	}
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    background: #e9e9e9;
    &:focus {
    	-webkit-box-shadow: 0px 3px 0px #84a07b;
	 	-moz-box-shadow: 0px 3px 0px #84a07b;
		box-shadow: 0px 3px 0px #84a07b;
    }
 }

 .qtip-normal{
 	font-size:14px;
 	max-width:740px;
 	min-width:350px;
 }

/**
 * SEARCH PAGE
 */
.scroll-fixed.ui-scrollfix {
	width:100%;
	z-index:100;
	position:fixed;
	top:0;
	margin:0 auto !important;
	padding:10px 0;
	background:white;
	border-bottom:1px solid #acacac;
}
.advanced-search-modal {
	.modal-dialog {
		width: 1200px;
	}
}
.angular-google-map-container { height: 400px; }
.map-canvas {
	img {max-width: none !important;}
	position:relative;
}
.sresult {
	.scontent {
		margin-left:30px;
	}
	.stoolbar {
		float:left; width:30px;
	}
}

ul.pagi {
	margin:0 auto;
	padding:0;
	li {
		list-style-type:none;
		display:inline;
		margin:0px 5px;
		&:active {
			color: #eb7700 !important;
		}
	}
}
.swatch-white .active {
	color: #eb7700 !important;
	a {
		color: #eb7700 !important;
	}
}


/**
 * VIEW PAGE
 */
.panel-content {
	position:relative;
	.panel-heading {
		width:auto;
		position:absolute;
		right:0;
		background: #6c6c6c !important;
		font-size:12px;
		padding: 4px 11px;
	}
	.panel-body {
		padding-top:30px;
	}
	.panel-footer {
		width:auto;
		position:absolute;
		right:0;
		bottom:0;
	}
}

.swatch-white {
	.panel-footer a, .panel-header a {
		color:white;
	}
}

.label-ar {
	width:50%;
	height:54px;
	padding:14px 40px 19px;
	font-size:18px;
	font-variant:small-caps;
}

.img-cc {
	height:22px;
}

.img-cc-standard3 {
	width:auto;
	height:48px;
}

.header-logo {
	max-width:109px;
	float:left;
}

.project{
  background-color: @project;
}

.grant{
  background-color: @grant;
}