/**
 * SEARCH PAGE
 */
.advanced-search-modal {
	.modal-dialog {
		width: 1200px;
	}
}
.angular-google-map-container { height: 400px; }
.map-canvas {
	img {max-width: none !important;}
	position:relative;
}