/**
 * Single Purpose Content Styling
 * This file is for the single purpose styling
 * @author Minh Duc Nguyen <minh.nguyen@ands.org.au>
 */

.element-shorter-top { margin-top:10px !important; }
.element-shorter-bottom { margin-bottom:10px !important; }
.qtip-normal { font-size:14px; max-width:740px; min-width:350px; }


.project { background-color: @project; }
.grant { background-color: @grant; }
.icon-portal { color: @secondaryColor !important; }
.icon-white {color: white !important;}

.no-bottom { 
	margin-bottom:0px !important;
	li { padding:0px 5px !important; border:none !important; }
}

.modal-center {
	&:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
  	text-align: center;
}