/* line 1, ../sass/arms.scss */
div.tags {
  background: transparent;
}
/* line 3, ../sass/arms.scss */
div.tags .btn-group {
  margin: 4px;
}

/* line 8, ../sass/arms.scss */
.input-append ul.typeahead, .input-prepend ul.typeahead {
  font-size: 14px;
}

/* line 13, ../sass/arms.scss */
.ro_box .ro_list {
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: relative;
}
/* line 18, ../sass/arms.scss */
.ro_box .ro_list li.no_records {
  padding-top: 12px;
  font-size: 1em;
  text-align: center;
  background-color: #efefef;
  cursor: default;
}
/* line 26, ../sass/arms.scss */
.ro_box .ro_list li.ro_item {
  position: relative;
  display: block;
  min-height: 70px;
  background: white;
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
}
/* line 33, ../sass/arms.scss */
.ro_box .ro_list li.ro_item:hover {
  cursor: pointer;
}
/* line 36, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_title {
  padding: 5px 55px 5px 35px;
  font-size: 1.2em;
}
/* line 40, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .right_content {
  position: absolute;
  top: 5px;
  right: 8px;
}
/* line 45, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_content {
  padding: 5px 0px;
}
/* line 47, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_content img {
  height: 1.2em;
}
/* line 50, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_content p {
  margin-bottom: 0;
}
/* line 54, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .right-menu {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 59, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .class_icon {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 1.2em;
}
/* line 65, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .toolbar {
  position: absolute;
  right: 8px;
  bottom: 4px;
  opacity: 0.2;
}
/* line 72, ../sass/arms.scss */
.ro_box .ro_list li.ui-state-highlight {
  background: #FEFFD2;
}
/* line 73, ../sass/arms.scss */
.ro_box .ro_list li.ro_selected {
  background: #d9e7f3;
}
/* line 76, ../sass/arms.scss */
.ro_box .ro_list li.ro_error {
  border-right: 5px solid #e54a4f;
}
/* line 79, ../sass/arms.scss */
.ro_box .ro_list li.active {
  background: #C1F4E7;
}
/* line 83, ../sass/arms.scss */
.ro_box .stick {
  width: 100%;
  z-index: 9999;
}
/* line 84, ../sass/arms.scss */
.ro_box .show_more {
  position: absolute;
  right: 0;
  background: white;
  font-size: 1em;
  padding: 3px;
  border: 1px solid #cdcdcd;
  border-top: 0;
  cursor: pointer;
}
