/**
 * Core / Styling / Less
 * 
 * 
 * @author Minh Duc Nguyen <minh.nguyen@ands.org.au>
 * @see ands/styles/less
 * @package ands/styles
 * 
 */
/**
 * Core Variables for LESS preprocessor
 * 
 * 
 * @author Minh Duc Nguyen <minh.nguyen@ands.org.au>
 * @see ands/styles/less
 * @package ands/styles
 * 
 */
/**
 * Global Colors
 */
/**
 * Status and Quality Level Colors
 **/
/**
 * App Specific
 * @TODO: NEED REFACTORING
 **/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #454545;
  font-weight: 400;
  line-height: 22px;
  background: #dddddd;
  position: relative;
}
.clear {
  clear: both;
}
.table-small tr th {
  min-width: 100px;
}
.table-small tr td {
  font-size: 0.85em;
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 11px;
}
#topbar {
  border-top: 4px solid #eb7f05;
  font-size: 85%;
  color: white;
  background: #333;
  height: 67px;
  padding: 0;
}
#topbar #logged_in_user {
  text-align: right;
}
#topbar #logo {
  padding: 10px 0px 0px 20px;
}
#show_responsive {
  display: none;
}
.ands-background {
  color: white;
  background: #333;
}
#banner {
  color: white;
  background: #333;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
#banner .page-header {
  margin: 0;
  border-bottom: none;
  padding-bottom: 10px;
}
#main-content {
  padding-top: 15px;
}
#view-datasource h3 {
  margin-left: 20px;
}
h1 small {
  font-size: 16px;
}
h1 {
  text-shadow: 2px 2px 1px #ffffff;
}
.box {
  border: 1px solid #adadad;
  padding: 10px;
  background: #f9f9f9;
  margin-bottom: 15px;
}
.box .box-header {
  margin: -10px -10px 10px -10px;
  padding: 0px 10px;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
  border-bottom: 1px solid #adadad;
}
.box .box-header .breadcrumbs {
  font-size: 12px;
  text-shadow: 2px 2px 1px #ffffff;
  float: left;
  line-height: 38px;
  margin: 0;
  padding: 0;
  height: 38px;
}
.box .box-header .breadcrumbs li {
  list-style: none;
  display: inline-block;
  overflow: hide;
  line-height: 38px;
  background: url('../img/breadcrumb_arrow.png') no-repeat right scroll;
}
.box .box-header .breadcrumbs li a {
  padding: 10px;
  color: black;
}
.box .box-header .breadcrumbs li a:hover {
  text-decoration: none;
}
.box .box-header .breadcrumbs li a.active {
  color: #5e6469;
  font-weight: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
}
.box .box-header .breadcrumbs li:last-child {
  background: none;
}
.box .box-header h1,
.box .box-header h2,
.box .box-header h3 {
  font-size: 22px;
  float: left;
  margin: 0px;
  padding: 0px;
}
.box .box-header h2 {
  font-size: 20px;
}
.box .box-header h3 {
  font-size: 18px;
}
.box .box-header .right-widget {
  float: right;
  line-height: 38px;
}
.box .box-footer {
  margin: -10px;
  margin-top: 10px;
  padding: 5px;
  border-top: 1px solid #adadad;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
}
.box-noStyle {
  width: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  float: left;
}
.border-right {
  border-right: 1px solid #adadad;
}
.box-error {
  border: 1px solid #b94a48;
}
.largeTag {
  font-size: 10px;
  border: 1px solid #ccc;
  padding: 5px 8px;
  margin: 2px 5px;
  color: black;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
  text-shadow: 2px 2px 1px #ffffff;
}
.largeTag:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
#page-footer {
  background: #454545;
  width: 100%;
}
#main-nav {
  color: white;
  text-align: right;
}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 67px;
}
#main-nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#main-nav ul li:hover {
  background: #4f4f4f;
}
#main-nav ul li:hover a {
  color: white;
}
#main-nav ul li:hover .caret {
  margin-top: 32px;
  border-top-color: black;
  border-bottom-color: black;
}
#main-nav ul li a {
  padding: 0 15px;
  display: block;
  color: white;
  line-height: 67px;
  height: 67px;
  font-size: 16px;
  text-decoration: none;
}
#main-nav ul li .caret {
  margin-top: 32px;
  border-top-color: white;
  border-bottom-color: white;
}
#main-nav ul li ul.sub-menu {
  color: white;
  background: #333;
  height: auto;
  text-align: left;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#main-nav ul li ul.sub-menu li {
  padding: 0px;
  display: block;
}
#main-nav ul li ul.sub-menu li a {
  padding: 10px;
  display: block;
  line-height: 22px;
  height: 22px;
  border-bottom: 1px solid #444;
}
.selection {
  position: absolute;
  border: 1px solid #89B;
  background: #BCE;
  background-color: #BEC;
  border-color: #8B9;
}
/*.active{  
	background: #CEB;
	border-color: #9B8;
}*/
.centered {
  text-align: center;
}
.right-aligned {
  text-align: right;
}
.light-gradient {
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
}
.tag {
  display: inline-block;
  font-size: 10px;
  border: 1px solid #ccc;
  padding: 1px 7px;
  margin: 2px 2px;
  color: black;
  background: #efefef;
}
.tag:hover {
  text-decoration: none;
  color: #333;
}
.tag i {
  margin: -1px;
}
.tag img {
  max-height: 15px;
  padding: 5px;
}
.no-border-tag {
  border: none;
  background: transparent;
}
.status_DRAFT {
  border-left: 5px solid #cc6600;
}
.status_PUBLISHED {
  border-left: 5px solid limeGreen;
}
.status_SUBMITTED_FOR_ASSESSMENT {
  border-left: 5px solid #688ede;
}
.status_ASSESSMENT_IN_PROGRESS {
  border-left: 5px solid #0b2e59;
}
.status_APPROVED {
  border-left: 5px solid #edd155;
}
.status_MORE_WORK_REQUIRED {
  border-left: 5px solid #6a4a3c;
}
.ql_1 {
  background: #f06533;
  color: black;
}
.ql_2 {
  background: #f2ce3b;
  color: black;
}
.ql_3 {
  background: #6da539;
  color: black;
}
.ql_4 {
  background: #4491ab;
  color: black;
}
.class_icon_party {
  height: 20px;
  width: 20px;
  background: transparent url('assets/img/party.png') no-repeat right top;
}
.text-shadow {
  text-shadow: 2px 2px 1px #ffffff;
}
.text-shadow-black {
  text-shadow: 2px 2px 1px #000000;
}
.no-text-shadow {
  text-shadow: 0px 0px 0px;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 1px black;
}
.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.dl-wide dt {
  width: 265px !important;
}
.dl-wide dd {
  margin-left: 275px !important;
}
.rosearch-btn span.status {
  margin-left: 25px;
  padding: 2px;
  font-size: 0.8em;
}
.rosearch-btn span.class {
  margin-left: 10px;
  padding: 2px;
  color: #999;
  font-size: 0.8em;
}
.ro-list {
  margin: 0px;
  padding: 0;
  font-size: 87%;
}
.ro-list li {
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
  list-style-type: none;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}
.ro-list li:hover {
  background: #eee;
}
.ro-list li .name {
  text-shadow: 2px 2px 1px #ffffff;
}
.ro-list li .name img {
  width: 20px;
  margin-right: 10px;
}
.ro-list li .num {
  color: white;
  font-size: 11px;
  font-weight: bold;
  float: right;
  background-color: #0088cc;
  padding: 1px 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.ro-list li a {
  text-decoration: none;
  color: #454545;
}
.ro-list li a:hover {
  text-decoration: none;
}
.align-left {
  text-align: left !important;
}
.padded_list li {
  padding-bottom: 6px;
}
img.HARVEST_INFO,
img.HARVESTER_INFO {
  display: none;
}
.activity-list li.error {
  border-right: 5px solid #b94a48;
}
.activity-list li.error a.expand_log {
  background: #edd0cf;
}
.activity-list li .log {
  margin: 10px;
}
.activity-list li span.label {
  color: white;
}
#importRecordsFromURLModal .modal-screen-container {
  min-height: 240px;
  max-height: 450px;
  overflow: auto;
}
#importRecordsFromURLModal .modal-body #remoteSourceURLDisplay {
  width: 380px;
  font-style: italic;
  padding: 15px 0px 15px 15px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
}
#importRecordsFromURLModal .modal-body input[name="url"] {
  width: 90%;
}
.dataTable .key {
  max-width: 40px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
}
#edit-datasource form #primary-relationship-form {
  margin-left: 210px;
}
#edit-datasource form #primary-relationship-form fieldset legend {
  font-size: 16px;
  margin: 0;
  line-height: 18px;
}
.quality_report span {
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
  background: #efefef;
}
.quality_report span:hover {
  text-decoration: none;
  color: #333;
}
.quality_report span.info {
  border-left: 10px solid #3a87ad;
}
.quality_report span.warning {
  border-left: 10px solid #f89406;
}
.quality_report span.error {
  border-left: 10px solid #b94a48;
}
.goto {
  cursor: pointer;
}
a.manage_ds_link {
  color: #555;
  font-weight: bold;
  font-size: 12px;
}
a.manage_ds_link:hover {
  text-decoration: none;
}
#tab_navigation_container {
  position: absolute;
  bottom: 0;
  margin: 10px;
  width: 100%;
}
#tab_navigation_container button {
  width: 150px;
}
#tab_navigation_container button.pull-right {
  margin-right: 15px;
}
.btn-fixed {
  width: 275px;
  padding: 5px 5px;
}
.btn-fixed i {
  margin-left: 5px;
  margin-top: 2px !important;
  margin-right: 4px;
  float: left;
}
.strong {
  font-weight: bold;
}
#loading_box {
  height: 300px;
  width: 500px;
  text-align: center;
  margin-top: 150px;
}
.modal.large {
  width: 780px;
  margin-left: -390px;
  /* - width/2 */
}
.pane > div.alert {
  font-size: 1.2em;
}
.thumbnails {
  padding-top: 10px;
  margin-left: -15px;
}
.thumbnails .item {
  height: 155px;
  margin: 10px;
  position: relative;
}
.thumbnails .item .item-info {
  position: absolute;
  height: 100%;
  width: 5px;
  z-index: 100;
  overflow: hidden;
  background-color: #ddd;
}
.thumbnails .item .item-info p {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  line-height: 100%;
  position: absolute;
  bottom: 25px;
  right: -25px;
  color: white;
  text-shadow: 0px 0px 0px;
}
.thumbnails .item .item-snippet {
  margin: 5px 5px 5px 20px;
  overflow: hidden;
  height: 95%;
  position: relative;
}
.thumbnails .item .item-snippet h3 {
  text-shadow: 2px 2px 1px #ffffff;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  padding-bottom: 10px;
}
.thumbnails .item .item-snippet h3 .ands_class_icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  content: "";
  float: left;
  background-repeat: no-repeat;
}
.thumbnails .item .item-snippet h3 .icon_activity {
  background-image: url("../img/ands_icon/activities_32.png");
}
.thumbnails .item .item-snippet h3 .icon_collection {
  background-image: url("../img/ands_icon/collections_32.png");
}
.thumbnails .item .item-snippet h3 .icon_service {
  background-image: url("../img/ands_icon/services_32.png");
}
.thumbnails .item .item-snippet h3 .icon_party {
  background-image: url("../img/ands_icon/party_multi_32.png");
}
.thumbnails .item .item-snippet .item-description {
  height: 54px;
  overflow: hidden;
  margin: 8px 0px;
}
.thumbnails .selected .item-info {
  background: #0088cc;
}
.thumbnails .btn-group {
  position: absolute;
  bottom: 10px;
  right: 7px;
}
.lists {
  margin: 0;
}
.lists li {
  width: auto;
  float: none;
  margin: 8px 0px;
  list-style: none;
}
.lists .btn-group {
  position: absolute;
  top: 5px;
  right: 5px;
}
#applied_filters {
  margin-top: 10px;
}
#applied_filters .tag {
  font-size: 10px;
  border: 1px solid #ccc;
  padding: 5px 8px;
  margin: 2px 5px;
  color: black;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
}
#applied_filters .tag:hover {
  text-decoration: none;
  color: #333;
}
#filter_fields {
  position: relative;
}
#filter_fields .span3 {
  border-right: 1px solid #ccc;
  height: 120px;
}
#filter_fields .span3:last-child {
  border: none;
}
/**
 * VIEW SCREEN
 */
.tab-view-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 47px;
  margin-right: -10px;
  overflow: visible;
}
.tab-view-list li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-left: -5px;
}
.tab-view-list li a {
  margin: 0;
  display: block;
  color: #5e6469;
  text-decoration: none;
  height: 48px;
  line-height: 50px;
  padding: 0px 15px;
  font-size: 16px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  text-shadow: 2px 2px 1px #ffffff;
}
.tab-view-list li a:hover {
  background: #f9f9f9;
  padding-bottom: 1px;
  border-color: #adadad;
}
.tab-view-list li a.active {
  background: #f9f9f9;
  border-color: #adadad;
}
.tab-view-list li:last-child a {
  border-right: none;
}
.box-header h1 {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 970px;
  overflow: hidden;
}
/* TABLE STYLES -------------------------------------------------------- */
.recordTable {
  border-collapse: collapse;
  margin: 0;
  border: 1px solid #dddddd;
  width: 100%;
}
.recordTable td {
  padding: 4px;
  border: none;
  vertical-align: top;
  overflow: visible;
  text-align: left;
  word-wrap: break-word;
}
.recordTable tr {
  border-bottom: 1px solid #dddddd;
}
.recordTable .subtable,
.recordTable .subtable1 {
  width: 100%;
}
.recordTable .subtable {
  margin: 2px;
  background: #f5f2f0;
  table-layout: fixed;
  border: 1px solid #aaa;
}
.recordTable .subtable tr {
  border-bottom: none;
}
.recordTable .subtable td:first-child {
  width: 100px;
}
.recordTable .subtable .subtable1 {
  background: #faf9f8;
  border: 1px solid #aaa;
}
.recordTable tr > td:first-child,
.recordTable td.label {
  padding-top: 6px;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  width: 150px;
}
.recordTable .formEmptyCell {
  border: none;
}
.recordTable .inputFormat {
  color: #888888;
  font-size: 0.8em;
  font-style: italic;
}
.recordTable .formNotes {
  color: #666666;
  font-size: 0.8em;
}
.recordTable .valueAttribute,
.recordTable .value {
  padding-top: 6px;
  font-weight: normal;
  text-align: left;
}
.recordTable .valueAttribute {
  font-style: italic;
}
.recordTable tr > td.value {
  max-width: 200px;
  font-style: italic;
  text-align: left;
}
/* EDIT STYLES -------------------------------------------------------- */
/* SIMPLE EDIT SCREENS */
#simple_describe .center_footer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#simple_describe .split-left {
  float: left;
  width: 45%;
}
#simple_describe .split-left label {
  width: 150px !important;
}
#simple_describe .split-left div.controls {
  margin-left: 160px !important;
}
#simple_describe .split-right {
  float: left;
  width: 40%;
}
#simple_describe .split-right label {
  width: 150px !important;
}
#simple_describe .split-right div.controls {
  margin-left: 160px !important;
}
#simple_describe .control-group h5 {
  margin-left: 25px;
}
#simple_describe label {
  font-size: 0.9em;
}
.nav-tabs {
  margin-bottom: 0px;
}
span.inputs_group {
  position: relative;
}
span.inputs_group input.inner_input {
  padding-right: 80px;
}
span.inputs_group input.inner_input_type {
  position: absolute;
  top: -1px;
  right: 5px;
  margin-top: 0px;
  width: 45px;
  height: 10px;
  font-size: 10px;
  padding-right: 20px;
  line-height: 11px;
  vertical-align: top;
}
input.rifcs-type {
  background: #f6f6f6 url(../img/down_caret.gif) no-repeat;
  background-position: 98% 50%;
  padding-right: 10px;
  cursor: pointer;
}
input.rifcs-type-loading {
  background: #f6f6f6;
  /*background:#f6f6f6 url(../img/ajax-loader.gif) no-repeat;
	background-position: 98% 50%;
	padding-right:10px;*/
}
button.remove {
  margin: 0px 4px 0px 8px;
}
.aro_box {
  border: 1px solid #d6d6d6;
  padding: 5px;
  margin: 5px 0px;
  background: #e5e5e5;
}
.aro_box .error {
  background-color: #e5e5e5;
}
.aro_box h1 {
  font-size: 16px;
  width: 700px;
  max-width: 700px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
}
.aro_box h1 small {
  font-size: 12px;
}
.aro_box .aro_box_display {
  position: relative;
}
.aro_box .aro_box_display a.toggle {
  margin: -5px 0px -5px -5px;
}
.aro_box .aro_box_display a.toggle:hover {
  background: #d6d6d6;
}
.aro_box .aro_box_display a,
.aro_box .aro_box_display h1 {
  float: left;
  line-height: 30px;
  padding: 5px 10px;
  margin: 0px;
}
.aro_box .aro_box_display input.rifcs-type,
.aro_box .aro_box_display input.datepicker {
  float: left;
  margin: 5px 0px;
}
.aro_box .aro_box_display input.inner_input_type {
  margin: 0;
}
.aro_box .aro_box_display button.remove {
  position: absolute;
  top: 5px;
  right: 5px;
}
.aro_box .aro_box_display .control-group {
  float: right;
  padding: 5px 10px;
  margin-bottom: 0px;
}
.aro_box .aro_subbox {
  margin: 10px 0px;
  padding: 5px;
}
.aro_box .aro_subbox h1 {
  margin: 0;
  padding: 0;
}
.aro_box .aro_subbox .aro_box_part {
  margin: 5px 0px;
}
.aro_box .aro_box_part .aro_box_part {
  margin: 5px 0;
}
.aro_box .aro_box_part .aro_box_part .aro_box_part .control-label {
  display: none;
}
.aro_box .aro_box_part .aro_box_part .controls {
  margin-left: 210px;
}
.aro_box .controls .btn-group {
  margin-bottom: 10px;
  margin-top: 10px;
}
.aro_box .aro_box {
  border: 0;
  padding: 0;
  margin: 5px 0;
}
.aro_box .controls .input-append {
  max-width: 100%;
}
.aro_box .controls .input-append .well {
  margin: 5px 0px;
  padding: 5px;
  font-size: 12px;
  white-space: wrap;
}
.automated_links .well {
  margin: 5px 0px;
  padding: 5px;
}
#relatedObjects_overflow {
  display: none;
}
.template {
  display: none;
}
.aro_toolbar {
  margin: 10px -10px -10px -10px;
  padding: 0px 10px;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
  border-top: 1px solid #adadad;
}
.aro_toolbar .message {
  float: left;
  line-height: 52px;
}
.aro_toolbar .aro_controls {
  float: right;
}
.pane {
  margin: 10px;
  display: none;
}
.addButtons {
  clear: both;
  margin: 25px 0;
}
.addButtons .widget-content {
  min-height: 110px;
}
.addButtons img {
  float: left;
  margin-right: 15px;
}
.addButtons div.label a {
  color: inherit;
}
.addButtons span {
  width: 150px;
  float: left;
}
ul.search_related_list {
  height: 200px;
  max-height: 200px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
ul.search_related_list li {
  list-style-type: none;
  clear: both;
}
ul.search_related_list li a {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 5px 4px;
}
ul.search_related_list li a img {
  height: 15px;
  float: left;
  padding: 0px 6px 0px 0px;
}
.tags {
  margin: 0 auto;
}
.tags li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 2px 10px;
  padding-right: 15px;
  margin: 2px;
  cursor: pointer;
  position: relative;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
}
.tags li span {
  position: absolute;
  top: 2px;
  right: 0;
  opacity: 0.5;
}
.tags li span:hover {
  opacity: 1.0;
}
.tags li:hover {
  border: 1px solid #ddd;
}
.qa_container {
  border: 1px solid #ccc;
  margin: 2px 1px;
  padding: 4px;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
}
.qa_container .qa_ok {
  display: block;
  border: 1px solid;
}
.qa_container .qa_error {
  display: block;
  border: 1px solid;
}
.qa_container .toggleQAtip {
  padding: 5px 2px;
  cursor: pointer;
  line-height: 18px;
}
.qa_container .hasError {
  background: #C92020;
  color: white;
}
.qa_container .info,
.qa_container .success,
.qa_container .warning,
.qa_container .error,
.qa_container .validation {
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: 97% 15px;
  margin: 3px auto;
  padding: 5px 10px 7px 5px;
}
.qa_container .info {
  color: #00529B;
  background-color: #BDE5F8;
}
.qa_container .success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.qa_container .warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.qa_container .error {
  color: #D8000C;
  background-color: #FFBABA;
}
.qa {
  margin: 10px 0;
}
#mmr_hopper {
  margin: 0 auto;
}
.mmr_toolbar {
  margin: 0;
}
#search_form {
  margin-right: 5px;
}
#active_filters {
  margin: 0 10px;
}
#active_filters em {
  line-height: 33px;
  color: #888;
  font-size: 0.8em;
}
#status_message {
  text-align: center;
  padding: 5px 10px;
  position: relative;
  left: -50%;
}
.widget-box {
  position: relative;
}
.widget-box .widget-title span.icon {
  cursor: pointer;
}
.widget-box .widget-title span.icon:hover {
  opacity: 1.0;
}
.widget-box .widget-content {
  height: 100%;
}
.pool::-webkit-scrollbar {
  display: none;
}
.pool {
  margin: 0 auto;
  position: relative;
  overflow: auto;
}
.pool div.block {
  position: relative;
  margin: 0 5px;
  text-align: left;
  float: left;
}
.pool .droppable li {
  background: #C1F4E7 !important;
}
.ui-tooltip-default {
  max-width: 750px;
}
.helper {
  z-index: 1000000;
}
.light-gradient {
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
}
.chzn-container-single .chzn-single {
  height: 26px;
  text-align: left;
}
.widget-title {
  position: relative;
}
.widget-title .chzn-container-single,
.widget-title select {
  margin: 4px 4px 0 0;
  float: right;
}
.chzn-drop {
  text-align: left;
}
select {
  max-width: 272px;
  width: auto;
}
.dl-horizontal dt {
  line-height: 20px;
  color: #5e6469;
  width: 200px;
}
.dl-horizontal dd {
  line-height: 20px;
  margin-left: 210px;
}
.qtip {
  max-width: 750px;
}
.dl-small dt {
  width: 100px;
}
.dl-small dd {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: none;
  word-wrap: none;
  word-break: keep-all;
  white-space: nowrap;
  margin-left: 110px;
}
.widget-title .btn-group {
  margin-top: 4px;
  margin-right: 4px;
}
ul.dropdown-menu li {
  cursor: pointer;
}
form {
  margin: 0px;
}
form fieldset {
  margin: 10px 15px;
}
.form-horizontal .control-label {
  width: 200px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #ffffff;
}
.form-horizontal .controls {
  margin-left: 210px;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
.form-horizontal .form-actions {
  padding-left: 20px;
}
legend + .control-group {
  margin-top: 0px;
}
.typeahead,
.dropdown-menu {
  z-index: 9999999;
}
.well {
  border: 1px solid #ccc;
}
.tab-content {
  overflow: visible;
}
.tab-pane-pad {
  padding: 10px;
}
body,
html {
  height: 100%;
}
#main-content {
  min-height: 100%;
}
.input-large {
  width: 227px;
}
.dropdown-menu div {
  font-size: 12px;
}
.dropup .btn-primary .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inner {
  background: transparent;
  border: none;
}
#arms-nav {
  text-align: right;
  color: white;
  background: #333;
}
#arms-nav .brand {
  line-height: 67px;
  padding: 0px 0px 0px 20px;
}
#arms-nav ul li a {
  color: white;
  line-height: 67px;
  font-size: 16px;
}
#arms-nav ul li a .caret {
  margin-top: 32px;
}
#arms-nav ul li a:hover {
  background: #4f4f4f;
}
#arms-nav ul li ul.dropdown-menu {
  height: auto;
}
#arms-nav ul li ul.dropdown-menu li a {
  color: black;
  line-height: 20px;
}
#arms-nav .navbar-search {
  margin-top: 25px;
}
#arms-nav .divider-vertical {
  border-left-color: #4f4f4f;
  border-right-color: #4f4f4f;
  height: 100%;
}
.ui-tooltip-large {
  max-width: 700px !important;
  width: auto !important;
}
.bigModal {
  width: 950px;
  margin-left: -445px;
  margin-right: -475px;
}
.modal-body {
  max-height: 600px;
}
.btn-group-left button {
  text-align: left;
}
.ui-tooltip-content {
  padding: 10px;
}
.navbar-search {
  margin-top: 0;
}
.validation {
  font-size: 12px;
}
@media (max-width: 767px) {
  .box {
    margin: 0;
  }
  .dl-horizontal dd {
    margin-left: 10px;
  }
  .form-horizontal .controls {
    margin-left: 10px;
  }
  #mmr_toolbar > .span4:nth-child(2) {
    text-align: left;
  }
  #mmr_toolbar > .span4:nth-child(3) {
    text-align: left;
  }
  #topbar {
    height: auto;
  }
  .thumbnails .item {
    width: 100%;
  }
  #main-nav {
    width: auto;
    float: left;
  }
  #main-nav li {
    float: none;
  }
  #main-nav .submenu {
    display: block;
    position: relative;
    border: none;
    float: none;
    margin: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
@media (max-width: 575px) {
  #main-nav {
    display: none;
    text-align: left;
  }
  #main-nav ul {
    height: auto;
  }
  #main-nav li {
    height: auto;
    display: block;
  }
  #main-nav li a {
    height: auto;
    float: none;
    width: 200px;
  }
  #main-nav li .sub-menu {
    display: block;
    position: relative;
    border: none;
    float: none;
    margin: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
#items {
  margin: 0;
  padding: 0;
}
.label a {
  color: inherit;
}
.pointer {
  cursor: pointer;
}
.middle {
  margin: auto;
}
.item {
  cursor: pointer;
  position: relative;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}
.item:hover {
  border: 1px solid #0088cc;
}
.item .btn-group {
  display: none;
}
.item .btn-group .text-group {
  padding: 4px 10px 4px;
}
.item .tag {
  font-size: 10px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  background: #F8F8F8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  background: linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e3e3e3', GradientType=0);
  color: black;
}
.item .status_DRAFT {
  border-left: 5px solid #cc6600;
}
.item .status_PUBLISHED {
  border-left: 5px solid limeGreen;
}
.item .status_SUBMITTED_FOR_ASSESSMENT {
  border-left: 5px solid #688ede;
}
.item .status_ASSESSMENT_IN_PROGRESS {
  border-left: 5px solid #0b2e59;
}
.item .status_APPROVED {
  border-left: 5px solid #edd155;
}
.item .status_MORE_WORK_REQUIRED {
  border-left: 5px solid #6a4a3c;
}
.item .ql_1 {
  background: #f06533;
  color: white;
}
.item .ql_2 {
  background: #f2ce3b;
}
.item .ql_3 {
  background: #6da539;
}
.item .ql_4 {
  background: #4491ab;
}
.thumbnails li {
  width: 33.33%;
  margin: 0;
  padding: 0;
}
.thumbnails li .item .item-snippet h3 {
  margin: 0px;
}
.lists li .item .item-snippet {
  padding: 10px;
}
.lists li .item .item-snippet h3 {
  margin: 0px;
  font-size: 18px;
  text-shadow: 2px 2px 1px #ffffff;
}
.selected {
  background: #cceeff;
  border: 1px solid #0088cc;
}
.locationDatePicker {
  margin-top: 5px;
  padding-top: 4px;
}
.adminDatePicker {
  margin-top: 1px;
  padding-top: 4px;
}
.ro_box .sortable {
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: relative;
}
.ro_box .sortable li {
  position: relative;
  display: block;
  min-height: 40px;
  background: white;
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
}
.ro_box .sortable li:hover {
  cursor: pointer;
}
.ro_box .sortable li .ro_title {
  padding: 5px;
  font-size: 1.2em;
}
.ro_box .sortable li .ro_content {
  padding: 5px 0px;
}
.ro_box .sortable li .ro_content img {
  height: 1.2em;
}
.ro_box .sortable li .ro_content p {
  margin-bottom: 0;
}
.ro_box .sortable li .right-menu {
  position: absolute;
  top: 5px;
  right: 5px;
}
.ro_box .sortable li.ui-state-highlight {
  background: #FEFFD2;
}
.ro_box .sortable li.ro_selected {
  background: #d9e7f3;
}
.ro_box .sortable li.ro_error {
  border-right: 5px solid #e54a4f;
}
.ro_box .sortable li.active {
  background: #C1F4E7;
}
.ro_box .stick {
  width: 100%;
  z-index: 9999;
}
.ro_box .show_more {
  position: absolute;
  right: 0;
  background: white;
  font-size: 1em;
  padding: 3px;
  border: 1px solid #cdcdcd;
  border-top: 0;
  cursor: pointer;
}
.dash_news {
  position: relative;
}
.dash_news_overflow {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorStr='#00ffffff', endColorStr='#ffffffff');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: -moz-linear-gradient(top center, rgba(255, 255, 255, 0) 20%, #ffffff 95%);
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorStr='#00ffffff', endColorStr='#ffffffff');
  height: 100px;
  position: absolute;
  width: 100%;
}
.show_all_dash_news {
  color: #0088cc;
  cursor: pointer;
  width: 160px;
  font-size: 14px;
  outline: 0;
  padding: 0.2em 0em;
  z-index: 999;
  margin: 0 0 15px 0;
}
.show_all_dash_news:hover {
  text-decoration: underline;
}
