/* line 1, ../sass/arms.scss */
div.tags {
  background: transparent;
}
/* line 3, ../sass/arms.scss */
div.tags .btn-group {
  margin: 4px;
}

/* line 8, ../sass/arms.scss */
.input-append ul, .input-prepend ul {
  font-size: 14px;
}

/* line 12, ../sass/arms.scss */
.rowidget_wrapper {
  display: inline-block;
}

/* line 17, ../sass/arms.scss */
.ro_box .ro_list {
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: relative;
}
/* line 22, ../sass/arms.scss */
.ro_box .ro_list li.no_records {
  padding-top: 12px;
  font-size: 1em;
  text-align: center;
  background-color: #efefef;
  cursor: default;
}
/* line 30, ../sass/arms.scss */
.ro_box .ro_list li.ro_item {
  position: relative;
  display: block;
  min-height: 70px;
  background: white;
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
}
/* line 37, ../sass/arms.scss */
.ro_box .ro_list li.ro_item:hover {
  cursor: pointer;
}
/* line 40, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_title {
  padding: 5px 55px 5px 35px;
  font-size: 1.2em;
}
/* line 44, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .right_content {
  position: absolute;
  top: 5px;
  right: 8px;
}
/* line 49, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_content {
  padding: 5px 0px;
}
/* line 51, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_content img {
  height: 1.2em;
}
/* line 54, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .ro_content p {
  margin-bottom: 0;
}
/* line 58, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .right-menu {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 63, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .class_icon {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 1.2em;
}
/* line 69, ../sass/arms.scss */
.ro_box .ro_list li.ro_item .toolbar {
  position: absolute;
  right: 8px;
  bottom: 4px;
  opacity: 0.2;
}
/* line 76, ../sass/arms.scss */
.ro_box .ro_list li.ui-state-highlight {
  background: #FEFFD2;
}
/* line 77, ../sass/arms.scss */
.ro_box .ro_list li.ro_selected {
  background: #d9e7f3;
}
/* line 80, ../sass/arms.scss */
.ro_box .ro_list li.ro_error {
  border-right: 5px solid #e54a4f;
}
/* line 83, ../sass/arms.scss */
.ro_box .ro_list li.active {
  background: #C1F4E7;
}
/* line 87, ../sass/arms.scss */
.ro_box .stick {
  width: 100%;
  z-index: 9999;
}
/* line 88, ../sass/arms.scss */
.ro_box .show_more {
  position: absolute;
  right: 0;
  background: white;
  font-size: 1em;
  padding: 3px;
  border: 1px solid #cdcdcd;
  border-top: 0;
  cursor: pointer;
}

/* line 99, ../sass/arms.scss */
.icon-class {
  height: 16px;
  width: 16px;
  background-image: url("../img/party.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 108, ../sass/arms.scss */
.icon-party {
  background-image: url("../img/party.png");
}

/* line 112, ../sass/arms.scss */
.icon-collection {
  background-image: url("../img/collection.png");
}

/* line 116, ../sass/arms.scss */
.icon-service {
  background-image: url("../img/service.png");
}

/* line 120, ../sass/arms.scss */
.icon-activity {
  background-image: url("../img/activity.png");
}
