/* line 1, ../sass/arms.scss */
ul.ro_list {
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: relative;
}
/* line 5, ../sass/arms.scss */
ul.ro_list li.ro_item {
  position: relative;
  display: block;
  min-height: 70px;
  background: white;
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
}
/* line 12, ../sass/arms.scss */
ul.ro_list li.ro_item .ro_title {
  padding: 5px 55px 5px 35px;
  font-size: 1.2em;
}
/* line 17, ../sass/arms.scss */
ul.ro_list li.ro_item .right_content {
  position: absolute;
  top: 5px;
  right: 8px;
}
/* line 23, ../sass/arms.scss */
ul.ro_list li.ro_item .ro_content {
  padding: 5px 0px;
}
/* line 25, ../sass/arms.scss */
ul.ro_list li.ro_item .ro_content img {
  height: 1.2em;
}
/* line 28, ../sass/arms.scss */
ul.ro_list li.ro_item .ro_content p {
  margin-bottom: 0;
}
/* line 32, ../sass/arms.scss */
ul.ro_list li.ro_item .class_icon {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 1.2em;
}
