<div class="widget-content" ng-if="chart.data.length == 0">
    <p>No data found</p>
</div>
<canvas class="chart chart-pie"
        ng-if="chart.data.length > 1"
        data="chart.data"
        labels="chart.labels"
        click="click"
        legend="false">
</canvas>
<table class="table">
    <tr ng-repeat="(pos,label) in chart.labels" ng-if="showzero || chart.data[pos] > 0">
        <td>{{ label }}</td>
        <td>{{ chart.data[pos] }}</td>
    </tr>
    <tr>
        <td><input type="checkbox" ng-model="showzero"> Show Zero</td>
    </tr>
</table>