<div class="content-header">
    <h1>DOI Query Tool</h1>
</div>
<div id="breadcrumb" style="clear:both;">
    <a href="{{ base_url }}"><i class="icon-home"></i> Home</a>
    <a href="{{ base_url}}mydois" class="current">Digital Object Identifiers</a>
</div>
<div class="container-fluid">
    <div class="rows">
        <div class="span6 offset4">
            <div class="widget-box">
                <div class="widget-title">
                    <h5>DOI Query Tool</h5>
                </div>
                <div class="widget-content">
                    Associated DOI App IDs:
                    <ul>
                        <li ng-repeat="app_id in vm.client.assoc_doi_app_id track by $index">
                            <a href="#/manage/{{ app_id }}">{{ app_id }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>