/* line 8, ../sass/ands_portal.scss */
span.darkgrey {
  color: #7B7E80 !important;
}

/* line 14, ../sass/ands_portal.scss */
.sidebar .search-result .post {
  height: auto;
  padding: 0;
  margin-left: 0;
  min-height: 0;
  border: 0;
}
/* line 20, ../sass/ands_portal.scss */
.sidebar .search-result .post .excerpt {
  display: none;
}
/* line 23, ../sass/ands_portal.scss */
.sidebar .search-result .post .class_icon {
  display: none;
}
/* line 26, ../sass/ands_portal.scss */
.sidebar .search-result .post a.title {
  color: #84a07b !important;
  line-height: 1.5;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  padding: 4px 0;
  font-size: 1em;
}
/* line 34, ../sass/ands_portal.scss */
.sidebar .search-result .post a.title:hover {
  color: #eb7700 !important;
}
/* line 38, ../sass/ands_portal.scss */
.sidebar .search-result .post img.logo {
  display: none;
}
/* line 41, ../sass/ands_portal.scss */
.sidebar .search-result .post:hover {
  border: 0;
  margin: 0;
}

/* line 49, ../sass/ands_portal.scss */
.login_st {
  margin-left: 14px;
  color: #3f3f3f;
  font-weight: bold;
  font-size: 0.8em;
  background: #9bb692;
}
/* line 55, ../sass/ands_portal.scss */
.login_st.exped {
  color: #f4f5f6;
}

/* line 60, ../sass/ands_portal.scss */
div.login_banner {
  width: 100%;
  background: #f4f5f6;
  padding: 23px 0 53px 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

/* line 70, ../sass/ands_portal.scss */
div.theme-page-item {
  border: 1px solid #ccc;
  margin: 10px;
  width: 298px;
  height: 208px;
  float: left;
  overflow: hidden;
}
/* line 77, ../sass/ands_portal.scss */
div.theme-page-item img.cover {
  height: 150px;
  width: 100%;
  overflow: hidden;
}
/* line 82, ../sass/ands_portal.scss */
div.theme-page-item h4.theme-page-title {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}
/* line 86, ../sass/ands_portal.scss */
div.theme-page-item h4.theme-page-title a {
  text-align: center;
}
/* line 90, ../sass/ands_portal.scss */
div.theme-page-item p.theme-page-desc {
  padding: 10px;
  height: 100px;
  overflow: auto;
}

/* line 97, ../sass/ands_portal.scss */
.add_tag_form {
  background: #f4f5f6;
  padding: 10px;
  width: 100%;
  position: relative;
  display: block;
}
/* line 103, ../sass/ands_portal.scss */
.add_tag_form input#tag_value {
  padding: 10px;
  width: 504px;
  position: relative;
  background: white;
  background: white !important;
}
/* line 110, ../sass/ands_portal.scss */
.add_tag_form button#tag_btn {
  float: right;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #eb7700;
  border: none;
  padding: 11px 15px;
  display: inline-block;
}
/* line 119, ../sass/ands_portal.scss */
.add_tag_form button#tag_btn:hover {
  cursor: pointer;
  background: #ff9930;
}

/* line 126, ../sass/ands_portal.scss */
.suggestion-source {
  float: right;
  font-size: 11px;
  color: #ccc;
}

/* line 132, ../sass/ands_portal.scss */
div.theme_page_banner {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
/* line 135, ../sass/ands_portal.scss */
div.theme_page_banner div.img_slot {
  height: 85px;
  overflow: hidden;
}
/* line 139, ../sass/ands_portal.scss */
div.theme_page_banner div.theme_page_header {
  padding: 5px;
}
