/* line 8, ../sass/ands_portal.scss */
span.darkgrey {
  color: #7B7E80 !important;
}

/* line 14, ../sass/ands_portal.scss */
.sidebar .search-result .post {
  height: auto;
  padding: 0;
  margin-left: 0;
  min-height: 0;
  border: 0;
}
/* line 20, ../sass/ands_portal.scss */
.sidebar .search-result .post .excerpt {
  display: none;
}
/* line 23, ../sass/ands_portal.scss */
.sidebar .search-result .post .class_icon {
  display: none;
}
/* line 26, ../sass/ands_portal.scss */
.sidebar .search-result .post a.title {
  color: #84a07b !important;
  line-height: 1.5;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  padding: 4px 0;
  font-size: 1em;
}
/* line 34, ../sass/ands_portal.scss */
.sidebar .search-result .post a.title:hover {
  color: #eb7700 !important;
}
/* line 38, ../sass/ands_portal.scss */
.sidebar .search-result .post img.logo {
  display: none;
}
/* line 41, ../sass/ands_portal.scss */
.sidebar .search-result .post:hover {
  border: 0;
  margin: 0;
}

/* line 51, ../sass/ands_portal.scss */
div.login_banner {
  width: 100%;
  background: #f4f5f6;
  padding: 23px 0 53px 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

/* line 61, ../sass/ands_portal.scss */
div.theme-page-item {
  border: 1px solid #ccc;
  margin: 10px;
  width: 298px;
  height: 208px;
  float: left;
  overflow: hidden;
}
/* line 68, ../sass/ands_portal.scss */
div.theme-page-item img.cover {
  height: 150px;
  width: 100%;
  overflow: hidden;
}
/* line 73, ../sass/ands_portal.scss */
div.theme-page-item h4.theme-page-title {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}
/* line 77, ../sass/ands_portal.scss */
div.theme-page-item h4.theme-page-title a {
  text-align: center;
}
/* line 81, ../sass/ands_portal.scss */
div.theme-page-item p.theme-page-desc {
  padding: 10px;
  height: 100px;
  overflow: auto;
}

/* line 88, ../sass/ands_portal.scss */
.add_tag_form {
  background: #f4f5f6;
  padding: 10px;
  width: 100%;
  position: relative;
  display: block;
}
/* line 94, ../sass/ands_portal.scss */
.add_tag_form input#tag_value {
  padding: 10px;
  width: 504px;
  position: relative;
  background: white !important;
}
/* line 100, ../sass/ands_portal.scss */
.add_tag_form button#tag_btn {
  float: right;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #eb7700;
  border: none;
  padding: 11px 15px;
  display: inline-block;
}
/* line 109, ../sass/ands_portal.scss */
.add_tag_form button#tag_btn:hover {
  cursor: pointer;
  background: #ff9930;
}

/* line 116, ../sass/ands_portal.scss */
.suggestion-source {
  float: right;
  font-size: 11px;
  color: #ccc;
}

/* line 122, ../sass/ands_portal.scss */
div.linkrecords {
  margin: 10px 10px 20px 40px;
  font-size: 13px;
}
/* line 125, ../sass/ands_portal.scss */
div.linkrecords div.linkrecords_container {
  margin: 5px 20px;
}
/* line 128, ../sass/ands_portal.scss */
div.linkrecords div.linkrecords_container li span {
  color: #999;
}

/* line 134, ../sass/ands_portal.scss */
div.theme_page_banner {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  overflow: hidden;
  height: 27px;
}
/* line 139, ../sass/ands_portal.scss */
div.theme_page_banner div.img_slot {
  width: 50px;
  float: right;
  overflow: hidden;
}
/* line 144, ../sass/ands_portal.scss */
div.theme_page_banner div.theme_page_header {
  padding: 0px 10px;
}
/* line 146, ../sass/ands_portal.scss */
div.theme_page_banner div.theme_page_header h4 a {
  font-size: 13px;
}

/* line 153, ../sass/ands_portal.scss */
img.linked_records {
  cursor: pointer;
}

/* line 157, ../sass/ands_portal.scss */
.linked_record_tooltip_title {
  font-weight: bold;
}

/* qTip popup in lightcream */
/* line 163, ../sass/ands_portal.scss */
.ui-tooltip-lightcream {
  background-color: rgba(252, 249, 216, 0.6);
  border-color: #E0DBA3;
  border-width: 1px !important;
}
/* line 169, ../sass/ands_portal.scss */
.ui-tooltip-lightcream .ui-tooltip-content {
  width: 100%;
  text-align: center;
}

/* line 177, ../sass/ands_portal.scss */
ul.linkedrecords-list li {
  padding: 10px 0;
}
/* line 180, ../sass/ands_portal.scss */
ul.linkedrecords-list li a span {
  display: block;
  color: #454545;
}
/* line 184, ../sass/ands_portal.scss */
ul.linkedrecords-list li a:hover span {
  color: #454545;
}
/* line 188, ../sass/ands_portal.scss */
ul.linkedrecords-list li:hover {
  background-color: rgba(252, 249, 216, 0.3);
}
/* line 193, ../sass/ands_portal.scss */
ul.linkedrecords-list li + li {
  border-top: 1px solid #ccc;
}

/* line 198, ../sass/ands_portal.scss */
.form-field {
  display: none;
}

/* line 202, ../sass/ands_portal.scss */
.login_st {
  cursor: pointer;
}
/* line 204, ../sass/ands_portal.scss */
.login_st .social_profile_pic {
  margin-top: -5px;
  margin-left: 10px;
  height: 42px;
  max-width: 42px;
  border: 2px solid #84a07b;
}

/* line 213, ../sass/ands_portal.scss */
.portal-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: transparent;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

/* line 222, ../sass/ands_portal.scss */
.portal-icon-delete {
  background-image: url("images/delete.png");
}

/* line 225, ../sass/ands_portal.scss */
.portal-icon-collection {
  background-image: url("images/collection.png");
}

/* line 226, ../sass/ands_portal.scss */
.portal-icon-activity {
  background-image: url("images/activity.png");
}

/* line 227, ../sass/ands_portal.scss */
.portal-icon-service {
  background-image: url("images/service.png");
}

/* line 228, ../sass/ands_portal.scss */
.portal-icon-party {
  background-image: url("images/party.png");
}

/* line 229, ../sass/ands_portal.scss */
.portal-icon-info {
  background-image: url("images/info.png");
}

/* line 230, ../sass/ands_portal.scss */
.portal-icon-caret {
  background-image: url("images/caret.png");
}

/* line 232, ../sass/ands_portal.scss */
.connections_layout_container {
  background: white;
  border: 1px solid #ccc;
}
/* line 235, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_facet {
  float: left;
  width: 35%;
  padding: 0 15px;
  border-left: 1px solid #ccc;
  max-height: 620px;
  overflow: auto;
}
/* line 243, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_facet ul li {
  list-style-type: none;
  padding: 4px 0;
}
/* line 246, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_facet ul li a {
  color: #84a07b;
}
/* line 249, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_facet ul li a:hover {
  color: #eb7700;
}
/* line 256, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right {
  float: left;
  width: 65%;
  padding: 0 10px;
}
/* line 260, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result {
  position: relative;
  padding: 10px;
  max-height: 620px;
  overflow: auto;
}
/* line 265, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result .ro_preview {
  width: 100%;
  margin-left: 0;
}
/* line 268, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result .ro_preview .ro_preview_header .title {
  margin-left: 0;
}
/* line 271, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result .ro_preview .ro_preview_description {
  font-size: 13px;
}
/* line 273, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result .ro_preview .ro_preview_description .ro_preview_footer a {
  color: #84a07b;
}
/* line 277, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result .ro_preview .relations {
  color: #9bb692;
  padding: 0 5px;
}
/* line 282, ../sass/ands_portal.scss */
.connections_layout_container div.connections_layout_right div.connections_layout_result a.load_more {
  background: #eee;
  font-weight: bold;
  color: #84a07b;
  text-align: center;
  width: 100%;
  padding: 15px;
  display: block;
}

/* line 295, ../sass/ands_portal.scss */
.user_tags a {
  background: #c2e3f4;
}

/* line 299, ../sass/ands_portal.scss */
.login_close {
  float: right;
  margin-right: 200px;
  color: #3f3f3f;
}
