<div class="container">
	<div class="row element-short-top">
		<div class="col-md-9">
			<section ng-if="user">
				<div class="panel swatch-white">
					<div class="panel-heading">My Saved Searches</div>

					<div class="panel-body" ng-if="user.user_data.saved_search">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>
										<a href="" class="btn btn-link" ng-click="toggleSelection('saved_search')">
											<i class="fa fa-square-o" ng-if="selected('saved_search') == 0"></i>
											<i class="fa fa-check-square-o" ng-if="selected('saved_search') > 0"></i>
										</a>
									</td>
									<td>My Saved Searches</td>
									<td>Result</td>
									<td>
										<span ng-if="selected('saved_search') == 0">Action</span>
										<div class="btn-group" ng-if="selected('saved_search') > 0">
											<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Bulk Action ([[ selected('saved_search') ]]) <span class="caret"></span></button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" ng-click="modify_user_data('saved_search', 'refresh', 'group')"><i class="fa fa-refresh"></i> Refresh</a></li>
												<li><a href="" ng-click="modify_user_data('saved_search', 'delete', 'group')"><i class="fa fa-trash-o"></i> Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</thead>
							<tbody ng-repeat="search in user.user_data.saved_search">
								<td><input type="checkbox" ng-model="search.selected" ng-click="search.selected=!search.selected"></td>
								<td><a href="[[base_url]]search#!/[[search.query_string]]">[[ search.query_title ]]</a></td>
								<td>
									<a href="[[base_url]]search#!/[[search.query_string]]">[[ search.num_found ]]</a> records<br>
									<a href="[[base_url]]search#!/[[search.query_string]]after_date=[[search.saved_time]]/">[[ search.num_found_since_saved ]]</a> new records since saved <br>
									<small>Saved: [[ search.saved_time * 1000 | date ]] ([[ search.saved_time * 1000 | timeago ]])</small> <br>
									<small ng-if="search.last_ran"><a href="[[base_url]]search#!/[[search.query_string]]after_date=[[search.last_ran]]/">[[ search.num_found_since_last_check ]]</a> records since  Last Refresh: [[ search.refresh_time * 1000 | date ]] ([[ search.refresh_time * 1000 | timeago ]])</small> <br>
								</td>
								<td>
									<a href="" class="btn btn-primary" ng-click="modify_user_data('saved_search', 'refresh', search.query_string)"><i class="fa fa-refresh"></i> Refresh</a>
									<a href="" class="btn btn-link" ng-click="modify_user_data('saved_search', 'delete', search.query_string)"><i class="fa fa-trash-o"></i></a>
								</td>
							</tbody>
						</table>
					 </div>

					<div class="panel-body" ng-if="!user.user_data.saved_search">
						You have no saved search!
					</div>
				</div>

				<div class="panel swatch-white">
					<div class="panel-heading">My Saved Records</div>
				
					<div class="panel-body" ng-if="user.user_data.saved_record">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>
										<a href="" class="btn btn-link" ng-click="toggleSelection('saved_record')">
											<i class="fa fa-square-o" ng-if="selected('saved_record') == 0"></i>
											<i class="fa fa-check-square-o" ng-if="selected('saved_record') > 0"></i>
										</a>
									</td>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">[[folderf]] ([[ folderCount(folderf) ]])<span class="caret"></span></button>
											<ul class="dropdown-menu" role="menu">
												<li ng-repeat="(key,value) in folders"><a href="" ng-click="updateSorted(key)">[[key]] ([[value]])</a></li>
											</ul>
										</div>
									</td>
									<td>
                                        <div class="btn-group" ng-if="selected('saved_record') == 0">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Sort: [[sort_title]]</span><span ng-if="ascending">&nbsp;&#9650;</span><span ng-if="!ascending">&nbsp;&#9660;</span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="" ng-click="sort_table('saved_record', 'title', 'Record Title')">Record Title</a></li>
                                                <li><a href="" ng-click="sort_table('saved_record', 'saved_time', 'Saved Time')">Saved Time</a></li>
                                                <li><a href="" ng-click="sort_table('saved_record', 'class', 'Record Type')">Record Type</a></li>
                                            </ul>
                                        </div>
										<div class="btn-group" ng-if="selected('saved_record') > 0">
											<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Bulk Action ([[ selected('saved_record') ]]) <span class="caret"></span></button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="" ng-click="modify_user_data('saved_record', 'move', 'group')"><i class="fa fa-folder-o"></i> Move</a></li>
												<li><a href="" ng-click="modify_user_data('saved_record', 'export', 'group')"><i class="fa fa-download"></i> Export</a></li>
												<li><a href="" ng-click="modify_user_data('saved_record', 'delete', 'group')"><i class="fa fa-trash-o"></i> Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="record in user.user_data.saved_record | orderObjectBy:sort_order:ascending" ng-if="folderfilter(record)">
								<td><input type="checkbox" ng-model="record.selected" ng-click="record.selected=!record.selected"></td>
								<td>
                                    <i class="fa fa-folder-open icon-portal" ng-if="record.class == 'collection'"></i>
                                    <i class="fa fa-flask icon-portal" ng-if="record.class == 'activity'"></i>
                                    <i class="fa fa-wrench icon-portal" ng-if="record.class == 'service'"></i>
                                    <i class="fa fa-user icon-portal" ng-if="record.class == 'party' && record.type=='person'"></i>
                                    <i class="fa fa-group icon-portal" ng-if="record.class == 'party' && record.type=='group'"></i>
									<a href="[[base_url]][[record.slug]]/[[record.id]]">[[ record.title ]]</a><br>
                                    <small>Data Provider: [[ record.group ]]</small><br>
									<small>saved Time: [[record.saved_time * 1000 | date ]]</small><br>
									<small>Last Viewed: [[record.last_viewed * 1000 | date ]] ([[record.last_viewed * 1000 | timeago ]])</small>
								</td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="" ng-click="modify_user_data('saved_record', 'move', record.id)"><i class="fa fa-folder-o"></i> Move</a></li>
											<li><a href="" ng-click="modify_user_data('saved_record', 'export', record.id)"><i class="fa fa-download"></i> Export</a></li>
											<li><a href="" ng-click="modify_user_data('saved_record', 'delete', record.id)"><i class="fa fa-trash-o"></i> Delete</a></li>
										</ul>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-body" ng-if="!user.user_data.saved_record">
						You have no saved record!
					</div>
				</div>
			</section>
			<div class="clear"></div>
		</div>
		<div class="col-md-3 sidebar" ng-if="user">
			<div class="panel panel-primary swatch-white panel-content">
				<!-- <div class="panel-heading">Logged In User</div> -->
				<div class="panel-body">
					<h3><i class="fa fa-user"></i> [[user.name]]</h3>
					<!-- <p>[[user]]</p> -->

					<img src="[[ user.profile_image ]]" alt="" ng-if="user.profile_image" class="profile_image_large">
					<!-- <img src="" alt="" ng-if="!user.oauth_data">	 -->
					<hr>

					<a href="[[base_url]]profile/logout" class="btn btn-danger"><i class="fa fa-sign-out"></i> Logout</a>
					<p ng-if="isSocial(user)">
						<small>Please note that logging out of Research Data Australia will not log you out of [[ user.authMethod | socialreadable ]]</small>
					</p>
				</div>
			</div>

			<div class="panel swatch-white" ng-if="user.function.indexOf('ORCA_SOURCE_ADMIN') > -1 || user.function.indexOf('REGISTRY_USER') > -1">
				<div class="panel-heading">My Functions</div>
				<div class="panel-body">
					<ul class="listy">
						<li><a href="[[base_url]]group/cms">Contributor CMS</a></li>
					</ul>
				</div>
			</div>
		</div>


	</div>
</div>

