{"items":[{"id":"3","title":"AuScope","url":"http:\/\/auscope.org.au\/site\/","url_text":"","img_url":"http:\/\/www.auscope.org.au\/_lib\/img\/lnav_logo.gif","img_attr":"","new_window":"yes","content":"<p>AuScope is a world-class research infrastructure as a framework for understanding the structure, evolution and dynamic processes of the Australian continent in space and time.<\/p>","visible":"yes"},{"id":"4","title":"Bioplatforms Australia","url":"http:\/\/www.bioplatforms.com.au\/","url_text":"","img_url":"http:\/\/www.ands.org.au\/resource\/logos\/bioplatfroms.png","img_attr":"bio","new_window":"no","content":"<p>Bioplatforms Australia is responsible for building scientific infrastructure in the specialist fields of genomics, proteomics, metabolomics and bioinformatics<\/p>","visible":"yes"}]}