ul.listy {
	padding-left:0;
	li {
		list-style-type:none;
		padding:8px 5px;
		border-bottom:1px solid #ececec;
		&:last-child {
			border:none;
		}
		a {
			height:32px;
			line-height:32px;
			overflow:hidden;
			display:inline;
			padding:8px 0px 8px 5px;
			small {
				position:absolute;
				right:30px;
				background:white;
				height:32px;
				line-height:32px;
				padding-left:10px;
			}
		}
	}
}