.widgetExplorer {
  ul.vocabListing {
    overflow:auto;
    li {
      list-style-type: none;
      cursor: pointer;
      word-wrap: break-word;
      &:hover, &.selected {
        background: @darkGray;
      }
    }
  }
  #sampleWidgetInput {
    border: 1px solid @darkGray;
    padding: 10px;
    width: 50%;
  }
  .widget-code {
    overflow:auto;
    word-wrap:inherit;
  }
}
#widgetExplorerStep3 .label {
    font-size: 100%;
    font-weight: 400;
    color: #65625d;
}
