@primaryColor : #7F7EFF;
@secondaryColor: #5353AA;
@secondaryColor: #A4B0F5;
@ternaryColor: #F58F29;


//second
@primaryColor: #17649A;
@secondaryColor: #46494C;

.swatch-blue {
	background: @primaryColor;
	color: white;
	a {
		color: white;
	}
	.nav {
		li {
			a {
				color:white;
				&:hover {
					background: @primaryColor;
				}
			}
		}
	}
}

.search-bar {
	padding: 10px 0 10px 10px;
}

.vocab-search-result {
	background:white;
	padding: 10px;
	margin: 0px 0px 10px 0px;
	h3 {
		margin:7px 0px;
	}
	a {
		color:@primaryColor;
	}
	position:relative;
}


.navbar { margin-bottom: 0px; }
.swatch-dark-blue {
	background: @secondaryColor;
	color:white;
	.btn-primary {
		background-color: @ternaryColor;
	}
	
}

ul.listy {
	padding-left:0;
	li {
		list-style-type:none;
		padding:8px 5px;
		border-bottom:1px solid #ececec;
		&:last-child {
			border:none;
		}
		a {
			height:32px;
			line-height:32px;
			overflow:hidden;
			display:inline;
			padding:8px 0px 8px 5px;
			small {
				position:absolute;
				right:30px;
				background:white;
				height:32px;
				line-height:32px;
				padding-left:10px;
			}
		}
	}
}

.element-shorter-top { margin-top:10px !important; }
.element-shorter-bottom { margin-bottom:10px !important; }
.element-shortest-top { margin-top:5px !important; }
.element-shortest-bottom { margin-bottom:5px !important; }
.alert-info {color:white; }