$ands_green:#84a07b;
$ands_orange:#eb7700;
$ands_lite_green:#9bb692;
$ands_lite_orange:#ff9930;
$full_width:960;

span.darkgrey
{
	color: #7B7E80 !important;
}

.sidebar{
	.search-result{
		.post{
			height:auto;
			padding:0;
			margin-left:0;
			min-height:0;
			border:0;
			.excerpt{
				display: none;
			}
			.class_icon{
				display:none;
			}
			a.title{
				color:$ands_green !important;
				line-height:1.5;
				font-weight: normal;
				text-decoration:none;
				outline:none;
				padding:4px 0;
				font-size:1em;
				&:hover{
					color:$ands_orange !important;
				}
			}
			img.logo{
				display:none;
			}
			&:hover{
				border:0;
				margin:0;
			}
		}
	}
}



div.login_banner{
	width:100%;
	background:#f4f5f6;
	padding:23px 0 53px 0;
	position:absolute;
	top:100%;
	left:0;
	display:none;
}

div.theme-page-item{
	border:1px solid #ccc;
	margin:10px;
	width:($full_width / 3) - 2px - 20px;
	height:208px;
	float:left;
	overflow:hidden;
	img.cover{
		height:150px;
		width:100%;
		overflow:hidden;
	}
	h4.theme-page-title{
		padding:10px;
		overflow:hidden;
		text-align:center;
		a{
			text-align:center;
		}
	}
	p.theme-page-desc{
		padding:10px;
		height:100px;
		overflow:auto;
	}
}

.add_tag_form{
	background: #f4f5f6;
	padding:10px;
	width:100%;
	position:relative;
	display:block;
	input#tag_value{
		padding:10px;
		width:504px;
		position:relative;
		background:white;
		background:white !important;
	}
	button#tag_btn{
		float:right;
		color:#fff;
		font-size:16px;
		font-weight:bold;
		background:$ands_orange;
		border:none;
		padding:11px 15px;
		display:inline-block;
		&:hover{
			cursor:pointer;
			background:$ands_lite_orange;
		}
	}
}

.suggestion-source{
	float:right;
	font-size:11px;
	color:#ccc;
}

div.theme_page_banner{
	border:1px solid #ccc;
	margin-bottom:5px;
	overflow:hidden;
	height:27px;
	div.img_slot{
		width:50px;
		float:right;
		overflow:hidden;
	}
	div.theme_page_header{
		padding:0px 10px;
		h4 a{
			font-size:13px;
		}
	}
}

.form-field{
	display:none;
}

.login_st{
	cursor:pointer;
	.social_profile_pic{
		margin-top:-5px;
		margin-left:10px;
		height:42px;
		max-width:42px;
	}
}

