$ands_green:#84a07b;
$ands_orange:#eb7700;
$ands_lite_green:#9bb692;
$ands_lite_orange:#ff9930;
$full_width:960;

span.darkgrey
{
	color: #7B7E80 !important;
}

.sidebar{
	.search-result{
		.post{
			height:auto;
			padding:0;
			margin-left:0;
			min-height:0;
			border:0;
			.excerpt{
				display: none;
			}
			.class_icon{
				display:none;
			}
			a.title{
				color:$ands_green !important;
				line-height:1.5;
				font-weight: normal;
				text-decoration:none;
				outline:none;
				padding:4px 0;
				font-size:1em;
				&:hover{
					color:$ands_orange !important;
				}
			}
			img.logo{
				display:none;
			}
			&:hover{
				border:0;
				margin:0;
			}
		}
	}
}



div.login_banner{
	width:100%;
	background:#f4f5f6;
	padding:23px 0 53px 0;
	position:absolute;
	top:100%;
	left:0;
	display:none;
}

div.theme-page-item{
	border:1px solid #ccc;
	margin:10px;
	width:($full_width / 3) - 2px - 20px;
	height:208px;
	float:left;
	overflow:hidden;
	img.cover{
		height:150px;
		width:100%;
		overflow:hidden;
	}
	h4.theme-page-title{
		padding:10px;
		overflow:hidden;
		text-align:center;
		a{
			text-align:center;
		}
	}
	p.theme-page-desc{
		padding:10px;
		height:100px;
		overflow:auto;
	}
}

.add_tag_form{
	width:100%;
	position:relative;
	display:block;
	input#tag_value{
      display:inline;
	  padding:10px;
	  width:200px;
	  position:relative;
	  background:white !important;
	}
    .twitter-typeahead{
      display:inline !important;
    }
	button#tag_btn{
		display:inline-block;
        height:40px;
		color:#fff;
		font-size:13px;
		font-weight:bold;
		background:$ands_orange;
		border:none;
		padding:11px 15px;
		display:inline-block;
		&:hover{
			cursor:pointer;
			background:$ands_lite_orange;
		}
	}
}

.suggestion-source{
	float:right;
	font-size:11px;
	color:#ccc;
}

div.linkrecords{
	margin:10px 10px 20px 40px;
	font-size:13px;
	div.linkrecords_container{
		margin:5px 20px;
		li{
			span{
				color:#999;
			}
		}
	}
}
div.theme_page_banner{
	border:1px solid #ccc;
	margin-bottom:5px;
	overflow:hidden;
	div.img_slot{
		width:50px;
		float:right;
		overflow:hidden;
	}
	div.theme_page_header{
		padding:0px 10px;
		h4 a{
			font-size:13px;
		}
	}
}


img.linked_records{
	cursor:pointer;
}

.linked_record_tooltip_title{
	font-weight:bold;
}

/* qTip popup in lightcream */
.ui-tooltip-lightcream
{
	background-color:rgba(252, 249, 216, 0.60);
	border-color:#E0DBA3;
	border-width:1px !important;

	.ui-tooltip-content 
	{
		width: 100%;
		text-align:center;
	}
}


ul.linkedrecords-list{
	li{
		padding:10px 0;
		a{
			span{
				display:block;
				color:#454545;
			}
			&:hover span {
				color:#454545;
			}
		}
		&:hover {
			background-color:rgba(252, 249, 216, 0.30);
		}
		
	}
	li + li{
		border-top:1px solid #ccc;
	}
}

.form-field{
	display:none;
}

.login_st{
	cursor:pointer;
	.social_profile_pic{
		margin-top:-5px;
		margin-left:10px;
		height:42px;
		max-width:42px;
        border:2px solid $ands_green;
	}
}

.portal-icon{
	display:inline-block;
	width:16px;
	height:16px;
	background-image:transparent;
	background-size:16px 16px;
	background-repeat:no-repeat;
}

.portal-icon-delete{
	background-image: url('images/delete.png');
}
.portal-icon-collection {background-image: url('images/collection.png');}
.portal-icon-activity {background-image: url('images/activity.png');}
.portal-icon-service {background-image: url('images/service.png');}
.portal-icon-party {background-image: url('images/party.png');}
.portal-icon-info {background-image:url('images/info.png');}
.portal-icon-caret {background-image:url('images/caret.png');}

.connections_layout_container{
	background:white;
	border:1px solid #ccc;
	div.connections_layout_facet{
		float:left;
		width:35%;
		padding:0 15px;
		border-left:1px solid #ccc;
		max-height:620px;
		overflow:auto;
		ul{
			li{
				list-style-type:none;
				padding:4px 0;
				a{
					color:$ands_green;

					&:hover{
						color:$ands_orange;
					}
				}
			}
		}
	}
	div.connections_layout_right{
		float:left;
		width:65%;
		padding:0 10px;
		div.connections_layout_result{
			position:relative;
			padding:10px;
			max-height:620px;
			overflow:auto;
			.ro_preview{
				width:100%;
				margin-left:0;
				.ro_preview_header .title{
					margin-left:0;
				}
				.ro_preview_description{
					font-size:13px;
					.ro_preview_footer a{
						color:$ands_green;
					}
				}
				.relations{
					color:$ands_lite_green;
					padding:0 5px;
				}
			}
			a.load_more{
				background:#eee;
				font-weight:bold;
				color:$ands_green;
				text-align:center;
				width:100%;
				padding:15px;
				display:block;
			}
		}
	}
}

.user_tags a{
	background: #c2e3f4;
}

.login_close{
	float:right;
	margin-right:200px;
	color:#3f3f3f;
}