<div style="modal-center">
	<div class="modal-header">
		<button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title">Save Search</h4>
	</div>
	<div class="modal-body swatch-white" ng-if="loggedin">
		<p ng-if="data">
			<p>
				<dl>
					<dt>Records Found</dt><dd>[[ data.num_found ]]</dd>
					<dt>Query Title</dt><dd>[[ data.query_title ]]</dd>
				</dl>
			</p>
			<form action="" ng-submit="saveSearch()">
				<div class="input-group">
		            <input focus-me="true" type="text" value="" name="s" class="form-control ng-pristine ng-valid" placeholder="Saved Search Title" ng-model="data.query_title">
		            <span class="input-group-btn">
		                <button class="btn" type="submit" value="Search">Save Search</button>
		            </span>
		        </div>
		        <div class="alert alert-success" ng-if="success_msg">[[ success_msg ]]</div>
				<div class="alert alert-important" ng-if="error_msg">[[ error_msg ]]</div>
	        </form>
		</p>
	</div>
	<div class="modal-body swatch-white">
		<a href="[[base_url]]profile" target="_blank">Open MyRDA</a>
	</div>
	<div class="modal-body swatch-white" ng-if="!loggedin" ng-cloak>
		<p>You are not logged in to MyRDA. Please <a href="[[base_url]]profile/login/?redirect=[[ getCurrentURL() ]]">Login to MyRDA</a> to save records</p>
	</div>
</div>