.alw_control
{
	font-family: verdana, sans-serif;
	border: 1px solid #000000;
	width: 440px;
	height: 340px;
	overflow: hidden;
}

.alw_loaderror
{
	width: 300px;
	font-size: 11px;
	color: #aa0000;
	background: #dddddd;
	border: 1px solid #333333;
	white-space: normal;
	padding: 10px;
}

.alw_toolbar
{
	line-height: 18px;
	height: 18px;
	font-size: 11px;
	color: #ffffff;
	background: #444444;
	border-bottom: 1px solid #333333;
}

.alw_tool
{
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	color: #ffffff;
	border-right: 1px solid #666666;
}

.alw_tool_active
{
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	color: #f68213;
	text-decoration: underline;
	border-right: 1px solid #666666;
}

.alw_special_tool
{
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	color: #aaaaaa;
	border-right: 1px solid #666666;
}

.alw_special_tool.cleartool
{
	color: #fff;
}

.alw_tool:hover, .alw_tool_active:hover
{
	color: #f68213;
	text-decoration: underline;
}

textarea.alw_tool,textarea.alw_tool:hover
{
    color: #333;
    text-decoration: none;
}

.alw_special_tool:hover
{
	color: #f74313;
	text-decoration: underline;
}

.alw_buttonbar
{
	background: #bbbbbb ;
	height: 24px;
	padding: 3px 6px;
	background-color: #bbbbbb;
	border-top: 1px solid #888888;
	overflow: hidden;
}

.alw_button
{
	font-family: verdana, sans-serif;
	font-size: 11px;
	width: 60px;
}

.alw_canvas
{
	width: 440px;
	height: 320px;
	overflow: hidden;
}

.alw_dialog_container
{
	width: 440px;
	height: 320px;
	position: absolute;
	z-index: 100;
	display: none;
	font-size: 11px;
}

.alw_dialog_back
{
	width: 440px;
	height: 320px;
	position: absolute;
	z-index: 110;
}

.alw_dialog_outer
{
	width: 440px;
	height: 320px;
	position: absolute;
	z-index: 120;

}

.alw_dialog_inner
{
	width: 411px;
	overflow: wrap;
	margin: auto;
	margin-top: 40px;
	color: #000000;
	background-color: #eaeaea;
	border: 1px solid #000000;
}

.alw_dialog_content
{
	white-space: normal;
	overflow: auto;
	margin: 0em 0.5em;
	padding: 0em 0.5em;
}

.alw_dialog_text
{
	padding: 4px 8px 4px 8px;
}

.alw_search_result
{
	font-size: 11px;
	cursor: pointer;
	color: #0042af;
	padding: 1px;
}

.alw_search_result:hover
{
	text-decoration: underline;
}